[2017-04-19 01:45] yangar opened #1 "Missing reference to PortfolioBuilder() ?"
Thank you for this project !!!

// Create portfolio instance by using PortfolioBuilder
var portfolio = new PortfolioBuilder()
    .Add(equity, 10)
    .Add(equity2, 30)
    .Buy(buyRule)
    .Sell(sellRule)
    .Build();

I can't find any reference to PortfolioBuilder() in the project, is it missing ?

[2017-04-20 08:31] salmonthinlion commented on #1
Hi @yangar,

It seems I haven't made an update on the README.md, the new syntax for portfolio creation is now:

var portfolio = new Portfolio().Add(equity, 10).Buy(buyRule).Sell(sellRule);
var result = await portfolio.RunBacktestAsync();

Thanks for pointing out the issue.

Karl

[2017-04-20 08:34] #1 closed

[2017-06-27 12:17] lppkarl opened #3 "Integrate DateTime back to indicator result"
Refer to: https://github.com/lppkarl/Trady/pull/2

[2017-06-27 12:20] lppkarl opened #4 "Integrate Nuba.Finance.Google to Trady.Importer"
Refer to: https://github.com/lppkarl/Trady/pull/2

Nuba.Finance.Google: https://github.com/nubasoftware/Nuba.Finance.Google

[2017-06-30 04:02] fernaramburu commented on #3
@lppkarl Hi, I have a commit to do with my suggested implementation and a test I just finished but it's too late here (1AM) to commit it  and then explain you what I did. Tomorrow  morning I do the commit and write some explanations but at a first sight it looks pretty amazing and pretty simple.

[2017-06-30 12:50] fernaramburu commented on #3
@lppkarl Hi, I just commit some code on the branch you created. The code is tested on two simple scenarios, Simple Moving Average as a simple indicator and another indicator as the ones I'm trying to build: ClosePricePercentageChangeSinceMondayOpen. This indicator calculates the price percentage change since Open value of the Monday of the same week of that date. It would be something like a Week

[2017-06-30 13:11] fernaramburu commented on #4
Fully agree with you! Architecture would be the enemy of being simple :)
Let's do it as you suggested.

[2017-07-01 11:19] lppkarl commented on #4
ok, i would work on the Trady.Importer.dll first & the separated dlls later :)

[2017-07-02 08:48] lppkarl commented on #3
@fernaramburu , thanks for the commit, I have read your code, it seems we have a different approach on the problem. You are trying to integrate the mapping function inside the indicator & do the computation together with the mapping internally while i am doing it externally outside the original indicator. I must say your approach is better than mine in terms of performance, there's no longer need

[2017-07-03 12:58] fernaramburu commented on #3
@lppkarl Hey, I haven't had time to review what you did but I was thinking that maybe we should choose output format instead of being as generic as you mentioned as we may need 4 generic types instead and it will get much harder if we continue to add features. What do you think?

I think we may define output between two or three different formats. We select which one and we tight all future develo

[2017-07-04 13:01] lppkarl commented on #3
@fernaramburu , just have an edit on your comment to prevent it referencing other issues in our project :)

For the output/return type, the last commit is an implementation of no.3, and it covers the cases of no.1 & no.2. To be simple, what i wanted to do is only the following two:
- If input is decimals/tuples, output is decimals/tuples. (i.e. IEnumerable\<decimal> -> IList\<decimal>)
- If input

[2017-07-04 18:24] wind-rider opened #5 "Yahoo and Stooq importer tests are failing"
The ImportByYahoo and ImportByStooq tests are failing, probably because the decimal point gets lost somewhere

[2017-07-04 19:44] fernaramburu commented on #3
@lppkarl ajajaj, you are as obsessive as I am :) In a good sense I mean. I was going to edit my post due to the use of # and making references to other issues but as I was in a hurry I didn't do it but I was extremely close to do it :)

I like your approach and I fully agree with your points. I only disagree a bit with the output being AnalyzableTick as it could be something with more value as ref

[2017-07-04 19:47] fernaramburu commented on #5
@wind-rider Thanks! I will re-check that. Main branch or which one? Can you just tell me your Culture? I'm asking this because I detected some test where failing for es-XX (Spanish, we use inverted , and . in numbers) and I fixed some of the tests but not all.

Thanks!

Fer

[2017-07-04 20:55] wind-rider commented on #5
Main branch, culture is probably nl-nl.

I don't know how the parsing is done now, but I assume that the culture should not influence the parsing.

[2017-07-05 02:42] fernaramburu commented on #5
Hi @wind-rider .
Parsing is about Culture... or Culture is about parsing :)

Just do a single test with a decimal.Parse("3.456") in Argentina where we use comma for decimal separations and that will return 3456m while if you do it in United States (just to give an example) it will return 3.456m.

Looks like both Yahoo Finance API library and StooqAPI library are using the CultureInfo.CurrentCultur

[2017-07-05 06:52] wind-rider commented on #5
That is exactly what I meant - a parser should do its work independent from the computer it runs on (CurrentCulture).

So the parser should either use InvariantCulture or stick to a specific culture.

[2017-07-05 06:54] wind-rider commented on #5
The Yahoo API (and other APIs) always responds in the same way, so the user shouldn't be required to set a culture for it.

[2017-07-05 09:34] lppkarl commented on #3
@fernaramburu, good to know you agree on that :)

I agree that adding the source candle in AnalyzableTick\<T> is convenient for some developers, as it's easy to come up with something like "result.SourceCandle.Open" when they want to get the open price of the source candle on that day.

But there may be concern in memory management if the lib is used in a low memory environment or the candle list

[2017-07-05 09:39] lppkarl commented on #5
@wind-rider yea you're right. I'm missing the InvariantCulture there, will be adding to it soon, thanks :)

[2017-07-05 09:52] lppkarl opened #7 "Makes QuandlImporter CultureInvariant"
QuandlImporter also depends on current culture, needs to add cultureinvariant to the parser

Refer to: https://github.com/lppkarl/Trady/issues/5

[2017-07-05 11:51] fernaramburu commented on #3
Such a good point you bring!!! I haven't thought before on running this in a low memory environment... You win! Let's leave it as it is now if you agree. It's quite extensible and quite configurable.  Will you do the coding for that change? I mean, I do those AnalyzableBase2 , SMA2 and everything with a 2 but we'll need to do a refactoring so everything use the new features and remove all the 2s.

[2017-07-06 05:54] lppkarl commented on #3
@fernaramburu ya, we can start the coding now. You do all those with a 2 and i will refactor & remove all the 2s after you've completed :)

[2017-07-06 06:43] #7 closed

[2017-07-06 07:05] #5 closed

[2017-07-06 10:39] lppkarl commented on #4
The importers have been completed, waiting for merging to "master" when #3 is done

[2017-07-06 20:51] fernaramburu commented on #3
Perfect! will do that!
Can I also change, as we will be doing a massive file change, all IList<T> to IEnumerable<T>?

[2017-07-06 21:43] wind-rider commented on #3
Unfortunately Deedle is not .net standard and it seems untouched for a year :/ otherwise it looked interesting to represent timeseries.
https://github.com/BlueMountainCapital/Deedle

[2017-07-07 06:25] lppkarl commented on #3
@fernaramburu sure. There's also ILists in Core & Importer project, I'll handle those :)

@wind-rider interesting to know there's library for series manipulation, I am curious what features impressed you the most for using the lib, we may have some inspiration from it :)

[2017-08-11 12:31] lppkarl commented on #3
@fernaramburu hi, it's been a month since our discussion. How's going with the implementation? Do you need help on the implementation, I am spare now and I may help to implement the feature, please tell me if you needs help :)

[2017-08-14 15:11] fernaramburu commented on #3
Hey, sorry!!! It's been a terrible month for me. I started but suddenly I ran out of time and I didn't have time to go back to work there. I definetely should back there. Would you like to do that change? Would you like I commit the small part I did? Would you like we find the way ti work together there?

[2017-08-15 04:58] lppkarl commented on #3
@fernaramburu nvm, take your time bro! You could just commit what you've implemented. I will do the rest :)

[2017-08-18 12:46] lppkarl commented on #3
@fernaramburu As you're busy with your work, I would rather not give too much pressure on you. I have worked it on my own and have commit the changes, you may stop the coding :) The code is not tested yet but I will test it later.

[2017-08-18 13:35] fernaramburu commented on #3
@lppkarl guau!!! Incredibly fast!!! Amazing! I will check what you did, If I have time over the weekend I might try to do some testing there at least, to help you.

[2017-09-25 13:13] #4 closed

[2017-09-25 13:54] lppkarl commented on #3
@fernaramburu I have recently updated the lib to v3, and added some features on signal capturing & indicator/rule dynamic generation, it would be nice if you could comment on, or give ideas on it especially for the signal capturing part :)

By the way, this issue is addressed in v3, it will be closed now.

[2017-09-25 13:54] #3 closed

[2017-09-25 14:52] lppkarl opened #8 "Ability for IndexedCandle to execute from registered rule"
IndexedCandle currently doesn't have a way to execute from a registered rule, it should be implemented.

[2017-09-25 20:57] fernaramburu commented on #3
@lppkarl guauuu!!! Unbelievable what you did!!! I will take a deep review on the latest release and I will probably enjoy de results.
I have some ideas that we can further discuss to extend this open source library that points to run in live mode and collects information for better and automated decision making.

[2017-10-17 13:20] Mike-EEE opened #9 "Add support for crytocurrencies (Bittrex)"
First off... wow. :)  Thank you for putting this really awesome library together... and in .NET Standard 2.0, even.  I was having to muck around with TA-Lib, which is something straight out of 1985 haha.

I am getting familiar with your importers, but it appears that none of them have access to cryptocurrencies, which is what I am interested in.  Are there plans to make an importer that has access

[2017-10-17 13:58] LadislavBohm opened #10 "Possible abstraction for class Candle"
Hello and thanks for this awesome library!

I might have a suggestion that could help me better integrate this library into my application. It seems that most if not all indicators depend somehow on class Candle or delegate mapper to select proper values.

Hower when dealing with large collections I have to convert my data objects to Candles which creates a lot of unnecessary allocations. It would

[2017-10-17 14:22] sthewissen commented on #9
Bittrex has a public API endpoint to get their candles e.g:

https://bittrex.com/Api/v2.0/pub/market/GetTicks?marketName=BTC-NEO&tickInterval=fiveMin

Tickinterval has valid values of:

- Hour
- Day
- fiveMin
- oneMin
- thirtyMin

Haven't found one for 15 minutes yet though.

[2017-10-17 15:11] Mike-EEE commented on #9
Cooooool... thanks @sthewissen that is good to know.  I didn't even know there was a 2.0 version available as the API that they [discuss on their site](https://bittrex.com/home/api) is 1.1.

I guess the next question I have is what is the typical strategy for importing multiple tickers?  In my case I am wanting to perform calculations on the top 10-20% (maybe more) of coins by volume on Bittrex.

[2017-10-17 20:04] sthewissen opened #11 "Additional indicators"
I don't know what kind of indicators are still on the to do list, but I'd love to see the following:

- Parabolic SAR / SAR
- Momentum Index
- CCI

Great library!

[2017-10-18 04:50] lppkarl commented on #10
@LadislavBohm thanks for your suggestion, and i think it's a good one! But since the Candle class is distributed everywhere in the library, i suppose there will be an enormous work for replacing Candle and IndexedCandle (derived type of Candle) to IOhlcData/ IOhlcvData. If you could manage to make a PR of it, it would be really nice 👍

[2017-10-18 05:41] lppkarl commented on #9
@Mike-EEE the importer is designed to import one ticker for each call as a unit of computation, but i agree that sometimes it's better to return multiple tickers if the provider supports it. It may also benefit importing from csv that contains multiple tickers 😄

[2017-10-18 05:44] lppkarl opened #12 "Add support for importing from multiple tickers"
See #9

[2017-10-18 05:57] lppkarl commented on #11
@sthewissen Thanks for the praise! The indicators are marked in backlog 😄

[2017-10-21 18:24] LadislavBohm commented on #10
Already working on it, ill probably make PR today or tomorrow.

[2017-10-23 12:04] Mike-EEE opened #15 "Consider Using DateTimeOffset Instead of DateTime"
I've been going over my code and have been moving over my "ticks" or "candles" to `Trady.Core.Candle`.  However, I just noticed that the "tick" is a `DateTime` rather than a `DateTimeOffset`.  From my understanding, `DateTimeOffset`s are preferred as they contain timezones and save a lot of additional work (in theory?).

Anyways, I was wondering what the feeling is on updating the `ITick.DateTime`

[2017-10-26 07:33] lppkarl commented on #15
@Mike-EEE Sorry for the late response. You've made a good argument on using DateTimeOffset rather than using DateTime.

To be honest, I didn't think of it when I initially created this library, I was focusing on implementing indicators & the rule system. This library is now heavily rely on DateTime, but I agree that it should be a change to work around with the timezone problem. The only problem i

[2017-10-26 08:44] Mike-EEE commented on #15
Hey no worries @lppkarl.  It's definitely a breaking change.  However, `DateTimeOffset` has an implicit casting operator for `DateTime`, so a lot of referencing code will continue to work as-is.

[2017-10-26 10:30] lppkarl commented on #15
@Mike-EEE Thanks for your reminder! I'll arrange it later.

[2017-10-27 23:28] richardsjoberg opened #17 "Client application for visualize candles, rules, transactions etc"
Hello, thanks again for your awesome library!

What do you use for visualizing the charts/backtesting? I wrote an "proof of concept" wpf application using https://github.com/beto-rodriguez/Live-Charts that I use for testing.

If you want I can refactor it to a class lib with a user control that takes candles, rules, transactions etc as proeperies and make a pull request.

![financial chart_v4](htt

[2017-10-28 10:41] lppkarl commented on #17
@richardsjoberg Currently, I am not doing any visualization on my backtest, I am lacking time on this 😅 It would be nice if you could make a PR on it 👍

Btw, it looks like you are starting to build an stock analysis platform based on this library, and I feel it's a big leap for this "handy library", how about you try using techanjs & see if we could integrate them together to make it a platform? 😄

[2017-10-28 12:52] richardsjoberg commented on #17
@lppkarl sounds great! Yes im aiming for some kind of stock scaning platform. I agree, a web platform would be more nice / extendable. I'll build something using techanjs and I'll come back to you when I got something that works =) cheers!

[2017-11-10 15:39] romeop555 opened #21 "Add support for crytocurrencies (Kraken)"
Find today this huge project and i would like to contribute and adopt it.

I'm building a trading engine, it is a C# UWP app running on Raspberry PI, so far it retrieves candles from the exchange every 4 hours and stores in your OneDrive folder in order to build a big prices database available for backtesting, the exchange allows you to retrieve only the last 12 hours for the minute period.

I can

[2017-11-12 12:40] lppkarl commented on #21
@romeop555 Contributions are always welcomed 👍

It's interesting to hear about building a trading engine on a RaspberryPi using dotnet. Perhaps, it's also a time to take a look on the lib performance on resource-limiting environment 😏 Hopes it works smoothly on it 👍

[2017-11-14 10:44] #8 closed

[2017-11-14 10:44] #10 closed

[2017-11-14 10:44] #11 closed

[2017-11-14 10:44] #15 closed

[2017-11-14 10:48] lppkarl commented on #15
@Mike-EEE I have just released a beta-version on this issue, just let you know 😄

[2017-11-14 10:49] lppkarl commented on #11
@sthewissen I have just released a beta version on this issue, just let you know 😄

[2017-11-14 11:01] Mike-EEE commented on #15
Great!  Thank you @lppkarl !

[2017-11-15 09:43] mkinawy opened #22 "PeriodOption of Per5Minute and Per10Minute"
Thanks for the great stuff.

Today I faced this problem, I built a custom importer for an exchange that supports 5-min and 10-min candles, but I didn't find those in the passed `PeriodOption` enum. I think those are important to be added as I see lots of exchanges out there supporting those periods, and those periods are very important for day traders.

[2017-11-16 09:04] lppkarl commented on #22
@mkinawy Thanks for pointing out this, the periodOption will be added in the next iteration 😄

[2017-11-16 09:11] mkinawy commented on #22
@lppkarl thanks!

[2017-11-19 12:45] Mike-EEE commented on #15
Works like a champ, @lppkarl!  Thanks again. 👍

[2017-12-10 17:13] objecta opened #26 "Fully understand the Strategy building & backtesting sample"
Hi
I'm investigating and testing possible tools to help me build a simple analyse tool to be user with Bittrex.
I found You Trady and You implementation of BackTest, Builder and rules.

In the Strategy building & backtesting sample You mention

// Create portfolio instance by using PortfolioBuilder
var runner = new Builder()
    .Add(equity, 10)
    .Add(equity2, 30)
    .Buy(buyRule)
    .Sell(se

[2017-12-11 22:56] JohnieBraaf opened #27 "CLR Exception - Stochastics.Fast"
Hi, I'm running into issues computing the stachastics Fast indicator.

The code that I used:
var stoch3 = new Stochastics.Fast(candles, 3, 3).Compute();

The error that I get:
Managed Debugging Assistant 'FatalExecutionEngineError'
  Message=Managed Debugging Assistant 'FatalExecutionEngineError' : 'The runtime has encountered a fatal error. The address of the error was at 0x2dfa7486, on thread 0x

[2017-12-13 22:01] irperez opened #28 "3.1.1 Beta nuget release?"
Is it possible to publish a beta release or alpha of the 3.1 branch to nuget?  The latest changes as of 12/13/17?

[2017-12-14 10:41] Ricky-G commented on #27
What is the underlying dataset you are using, it possible to paste a few data rows of the csv

[2017-12-14 10:43] Ricky-G commented on #21
@lppkarl  can we merge this with #9 and rename it  to just "Add support for crytocurrencies", I would like to work on the cryptocurrencies side of things (one exchange at a time) in another branch and do a PR when ready.

[2017-12-14 20:39] JohnieBraaf commented on #27
Hi Ricky,

Thanks for your reply, I've made a short example that reproduces the issues:

`var candles = new List<Candle>();
 for (int i=0; i<50; i++)
 {
     candles.Add(new Candle(DateTime.Now.AddDays(i), i, i, i, i, i));
 }

 var rsi14 = new RelativeStrengthIndex(candles, 14).Compute(); // works
 var stoch3 = new Stochastics.Fast(candles, 3, 1).Compute();   // crashes`

The error seems to be, du

[2017-12-28 21:47] byteshadow opened #29 "Streamable Candles"
I've made a change to AnalyzableBase to allow for Candles to be streamed, rather than having to pass in the entire collection every time. ~~if you can kindly create a branch where I can push these changes for you to review~~. I have a fork where progress can be reviewed. :) [ObservableAnalyzableBase](https://github.com/byteshadow/Trady/tree/feature/observableAnalyzableBase)
thanks,
Mina

[2017-12-29 01:00] kelthar opened #30 "Nonlinear time to compute sma"
I'm using this code to test the performance of Sma. I'm wondering why I don't get a linear time increase when I raise the number of items to calculate. Will this be the same with all indicators? Is it possible to mitigate this in some way?

            DateTime then = DateTime.Now;
            var t = candles.Sma(30, 0, 100);
            System.Diagnostics.Debug.WriteLine(DateTime.Now.Subtract(the

[2017-12-29 10:31] kelthar commented on #30
When using GetRange instead of Skip/Take 100000 candles takes 502ms instead of 52473ms.

It's this line:
mappedInputs.Skip(index - PeriodCount + 1).Take(PeriodCount).Average() : null;

Changed to this:
(mappedInputs as List<decimal?>).GetRange(index - PeriodCount + 1, PeriodCount).Average() : null;

[2017-12-29 14:36] byteshadow commented on #30
nice one @kelthar  would be able to push that change?

[2017-12-29 16:53] kelthar commented on #30
It's actually a hack, I would say. More to illustrate a possible speedup. I think there would need to be a bigger rewrite to implement this. I moved away to another lib when I saw how bad the performance is in rule evaluation, etc. There's a lot of good abstractions here, but this lib is not built with performance in mind :\.

[2017-12-29 16:53] #30 closed

[2017-12-29 17:42] byteshadow commented on #30
I am working on increasing the performance of this library, i also do like the abstraction in here and after a while its very easy to understand what is going on, and the unit tests are top class. Do you mind sharing the new library you are using?
also if you want to see the changes I'm making you can follow it here  [ObservableAnalyzableBase](https://github.com/byteshadow/Trady/tree/feature/obser

[2017-12-30 03:58] lppkarl commented on #21
@Ricky-G Sorry for the late response, the issue is being merged 😃

[2017-12-30 03:59] lppkarl commented on #9
Merged with #21

[2017-12-30 03:59] #9 closed

[2017-12-30 04:12] lppkarl commented on #26
@objecta Sorry for the late response, missing code has been added to README. To be precise, the equity object is the candle list, it is imported from importer or created manually. For instance, the code would look like:
[code]

[2017-12-30 04:25] lppkarl commented on #27
@JohnieBraaf Sorry for the late response. I've tried your code with my mac running .NET Core 2.0 and the code works perfectly.

This library is a fully-managed library & do not contains any unsafe code. I'm suspecting it's happened only in older version of .NET, may I know the .NET version & the platform you're using?

[2017-12-30 04:36] lppkarl commented on #29
@byteshadow Thanks for your effort 😄 I'm looking forward to it 👍

[2017-12-30 04:53] lppkarl commented on #30
@kelthar You're right, this lib is built for ease of use, and it's designed to be extensive & modular such that anyone could easily modify it to how they want, but I agree there is a lack of performance in a trade of configurability, and I haven't really optimize it yet.

In addition to your comment, I wonder if you could tell me how bad the performance in rule evaluation is. I'm not being offensi

[2018-01-03 23:22] JohnieBraaf commented on #27
Hi lpparl,

I've tried multiple versions among which 4.5 and 4.62. In Visual Studio 2017. (attached sample project)

When I analyze it in detail, it seems somehow related to the fact that it is unable to handle the multiple return values of the Stochastic.Fast ComputeByIndexImpl.

As if it is trying to return 1 and other times 3 tuple values in the same array.

Is there any alternative method that

[2018-01-08 08:12] lppkarl commented on #27
Hmm.. Do you mean you are unable to get the return values if the indicator returns a tuple list?

I mean the indicator itself is designed to return tuple list, there's also other indicators which returns tuple list. If I have changed it to return single values, it requires some work but I think it's not the best way to do this as it seems it's rather a bug that is not related to this library :conf

[2018-01-13 18:20] arisliang opened #31 "Ask or Bid"
I couldn't seem to find anywhere in the source code that mentions Ask or Bid. Are they supported currently?

[2018-01-14 14:33] lppkarl commented on #31
Ask & bid is not included yet in this library

[2018-01-19 18:16] arisliang commented on #31
Noted and thanks for the answer.

[2018-01-19 18:16] #31 closed

[2018-01-22 22:37] JohnieBraaf commented on #27
Hi lppkarl, I've tried some different indicators that are not returning a tuple and I'm getting the same error presented.

I think you are right that it seems to be some sort of Microsoft bug, At this point I'm giving it up..., for now. Thnx in any case

[2018-01-23 11:06] lppkarl commented on #27
Sorry to hear that. I will try to dig deep to the fatalexecutionengineerror to see what's going wrong with the call. But at the time being, would you mind I close the issue as it's a bug that is out of the scope of this library?

[2018-01-23 12:44] JohnieBraaf commented on #27
Closed, thank you

[2018-01-23 12:44] #27 closed

[2018-01-24 03:20] mickeyjk opened #32 "MovingAverageConvergenceDivergence and .Macd both unusable"
I am attempting to utilize the MACD indicators in this library and keep having exceptions thrown whenever the indicator is instantiated or computed. I tried debugging in several different manners to no avail. If necesarry I can post the larger code context but I don't believe that it is the issue since I can create and execute RSI, EMA, and MA indicators with no issue using the same parameters

-

[2018-01-25 02:43] lppkarl commented on #32
Probably the same issue as #27. It seems the error is caused because the return type is a valuetuple, it's probably a bug of clr as i do not use any unsafe code or external call to com component. I am quite busy now & may not have time to dig deep to the problem but i will try.

[2018-01-25 07:45] lexruster opened #33 "Improve for CSV importer"
Hi, @lppkarl

I have a suggestion (actually if I contribute, are you open to review pull requests :) ?)
Csc import now is
[code]

But CsvHelper supports auto parsing by field names. I suggest doing that
var myDatas = csvReader.GetRecords<Candle>().ToList();

For example, i spent half an hour before look at code to find out that header is ignored

[2018-01-25 08:36] lexruster opened #34 "Need more docs."
I found this issue, it help a lot
#26 Fully understand the Strategy building & backtesting sample
but still have question.
Maybe experienced trader will understand, but i don't understand a lot of in code.

[code]
What is principal here? It like the initial amount of money?

btw readme looked outdated

[code]
not compiled
at least it should be
[code]

[2018-01-25 08:40] lexruster commented on #34
Also for indicators and rule
for example
var buyRule = Rule.Create(c => c.IsEmaBullishCross(3, 7));
i belive here
bool IsEmaBullishCross(this IIndexedOhlcv ic, int periodCount1, int periodCount2)
it mean
when ema by periodCount1 crossed from below other ema by periodCount2, then true.
Is that right?

[2018-01-25 08:44] lexruster commented on #34
May be if somebody look at it and tell me if i understand it wrong
[code]

source is
[ETH-USD-Bitfinex.zip](https://github.com/lppkarl/Trady/files/1663193/ETH-USD-Bitfinex.zip)

[2018-01-25 21:31] mickeyjk commented on #32
I notice that the longer error in my second example has mention of a MissingMethodException. Maybe it might have to do with the way you set up the return types as you mentioned. Anyway please let me know once you have time to work on this bug and if you need help reproducing it. I tested the MACD method calls (both traditional and extension types) in a sandboxed environment and still got the same

[2018-01-26 05:08] lppkarl commented on #33
@lexruster PR is always welcomed :)

[2018-01-28 00:14] Transigent opened #35 "Is there a test project where the examples are working?"
Hi I am very intersted in experimenting with this project, but I have not had any luck with the sample snippets on https://github.com/lppkarl/Trady

I imported using Nuget and made a basic test harness:

[code]

Then I tried the sample:

[code]

--------------------

On the line:
`Dim result = runner.Run(200, 1)`
I get

This happens for both Run and RunAsync.

So instead I tried:

[code]

--------

[2018-01-28 10:32] lppkarl commented on #35
Hi. The most updated version is v3.1. Some of your problem should be fixed in this version. Please pull the branch and try to see if the problem is fixed.

[2018-01-28 10:35] lppkarl commented on #34
Yea. You're right. Bullish cross means first line crossing second line from below.

[2018-01-29 07:22] lexruster opened #36 "Update CsvHelper"
Used in project CsvHelper 2.16.3 and latest 6.1.1 not compatible.
If you use custom Importer with CsvHelper 6 app is break, because CsvHelper has breaked changes.

[code]
And CsvHelper.Configuration.CsvConfiguration really not exists in 6

[2018-01-29 08:11] lexruster opened #37 "Performance discussion"
Hi, @lppkarl
After first research of library i started some more serious development :)
And first and the biggest problem that I faced now is performance.
i just run some code in release configuration
[code]
Where i have just 1 month of candles for each minute, it is 40 320 candles.
And it is executed 15 minutes. Looks like all time was consumed by evaluating rules.
Is that something that you expe

[2018-01-30 01:39] Transigent commented on #35
Thanks but I got 3.1 and the the same thing happens.
First error :  'Object reference not set to an instance of an object.'

in Runner.cs

[code]

Error is thrown on the line

`decimal cashIn = nextIOhlcvData.Open * lastTransaction.Quantity - premium;`

------

In the second sample above, I am getting new errors:

'IsEma10BullishCrossEma30' is not a member of 'IIndexedOhlcv'
'IsEma10Rising' is not

[2018-01-30 01:40] Transigent commented on #35
Again if there were a simple project where these samples were working, we could use that to solve our own problems.

[2018-02-10 14:04] alikalfaoglu opened #38 "Could not figure out how to use candlesticks with backtest"
Can you provide a sample for that?

For ex; suppose I have a set of candles and I want to determine whether it's a bullish or bearish engulfing pattern using backtest.

I couldn't find any extension that will help me using in buy/sell rules.

[2018-02-13 21:46] irperez commented on #33
@lexruster I just noticed this.  I put in a PR a few months ago where you can put in options to configure the CsvImporter.

Check out the new class here:
[https://github.com/lppkarl/Trady/blob/f937855d19517480c283dab0887701a421847857/Trady.Importer.Csv/CsvImportConfiguration.cs#L6-L15](https://github.com/lppkarl/Trady/blob/f937855d19517480c283dab0887701a421847857/Trady.Importer.Csv/CsvImportConfig

[2018-02-15 17:57] alikalfaoglu commented on #38
I figured it out all. Thanks.

[2018-02-15 17:57] #38 closed

[2018-02-18 19:54] lexruster commented on #33
Thank you @irperez , yes I saw it already in PR)
But it still not about custom headers. I just should implement it and post PR, may be, someday)

[2018-02-19 08:50] lppkarl commented on #26
Closed of being inactive for a long time.

[2018-02-19 08:50] #26 closed

[2018-02-19 12:38] ASADeveloper commented on #38
Would you please share how you did it?

Thanks.

[2018-02-19 17:23] alikalfaoglu opened #40 "Squeeze Momentum Indicator needed.."
Squeeze Momentum Indicator or any sample in c# is also fine.

I can create a PR and apply it if you don't have time.

Thanks.

[2018-02-19 21:58] irperez commented on #32
@mickeyjk could you provide a sample unit test with test data (csv format) to replicate the issue?  The smaller the data set, the better and easier to diagnose.

[2018-02-19 21:59] irperez commented on #28
I've merged the beta1 version which will push out a new nuget release.

[2018-02-19 21:59] #28 closed

[2018-02-19 22:01] irperez commented on #34
@lexruster do you mind putting in a PR with the documentation to make this clear?

[2018-02-19 22:09] irperez commented on #37
@lexruster can you clone the repo and run your test with a profiler?  Can you submit some screenshots of where the hotspots are at?  Or at the very least submit your sample data to a public folder where I can run your sample locally and check for myself.  Possibly in csv format.

[2018-02-19 22:10] irperez commented on #40
@alikalfaoglu a PR would be greatly appreciated 👍

[2018-02-19 22:32] ASADeveloper opened #41 "How to use candlesticks with backtest?"
There is already an issue #38 which is closed and probably no one would see it anymore.
That's why I'm opening a new one hoping some one knows how it is done.

I have a set of candles and I want to determine whether it's a bullish/bearish engulfing pattern or BullishAbandonedBaby using backtest.
I couldn't find any extension that will help me using in buy/sell rules.

Thanks in advance.

[2018-02-20 02:10] irperez commented on #35
@Transigent I don't see those 4 methods anywhere in the project.

IsEma10BullishCrossEma30
IsEma10Rising
IsEma10BearishCrossEma30
IsEma10Dropping

Can you confirm once again you were working on v3.1?  Are these custom indicators or methods you created for this library?

I got your first example working fine in a unit test.

[2018-02-20 02:13] irperez commented on #35
@Transigent I just noticed that those four methods were an example that IppKarl created for the README file. But they are not actual methods in the library.  FYI.  Hope that answers your question.

[2018-02-20 05:31] Gaurrav opened #42 "Test"
Hammer and inverted hammer is not working.when we test with the hammer and inverted hammer candlestick than it is not working.

[2018-02-20 05:33] #42 closed

[2018-03-12 20:46] shabbosgoy opened #44 "Division by zero on RelativeStrengthIndexByTuple"
Hi!

First of all: thanks for making this lib! It saves me a ton of time.

However, I am getting an error computing the RSI by tuple on the following decimal array:
https://pastebin.com/ZFDwtqeb

I am using .NET Framework 4.7, 64-bit on Win10

[2018-03-13 16:50] irperez commented on #44
Hello @shabbosgoy!

Would it be too much to ask if you could create a unit test with your exact issue in this thread?

Thanks!

[2018-03-13 17:08] shabbosgoy commented on #44
`        static void ArghItHurts()
        {
            string jsonStr = "[0.00000397,0.00000398,0.00000399,0.00000399,0.00000398,0.00000398,0.00000398,0.00000399,0.00000397,0.00000398,0.00000397,0.00000399,0.00000398,0.00000397,0.00000398,0.00000398,0.00000398,0.00000398,0.00000398,0.00000398,0.00000398,0.00000398,0.00000397,0.00000398,0.00000398,0.00000398,0.00000397,0.00000397,0.00000397,0.000

[2018-03-13 17:09] shabbosgoy commented on #44
There ya go, I hope it helps. It seems to happen only when setting a smaller period. 2 and 3 seem to crash. 8 does not.

[2018-03-14 11:23] ArashSade opened #45 "Bug: Calculation of ADX, +DI and -DI are wrong"
Hi,

I think there is something wrong with calculating ADX, + DI and -DI. The values that I receive are very different from what I see on TradingView or other platforms.
The difference gets worse when I have a Period other than default 14. Then, for example, I get 30 and TradingView shows 20 for that same Period.

I do not believe that the TradingView or other websites like Binance calculate it in

[2018-03-14 11:27] irperez commented on #45
@ArashSade would it be possible to submit a test scenario where you can reproduce the problem in this thread?  This way we know the exact scenario.  Possibly even some seed data as well.

Thanks

[2018-03-14 11:41] lppkarl commented on #45
A possible reason of this is we are using different smoothing factor when doing calculation. Our indicator are using stockcharts.com for verification. This says stock chart may have used a different technique on smoothing. For our investigation, could you gives us the link of the algo used by tradingview, that can help us on troubleshooting. Thanks:sweat_smile:

[2018-03-14 13:52] ArashSade commented on #45
I also have a strong suspicion that it is the smoothing factor. Because if I keep the DI period equal to the ADX smoothing, then the results are almost the same.
I could not find the details of the algorithm. That is not public. But in this wiki you see how they calculate it. You also see that you can specify an ADX Smoothing and DI period separately.
https://www.tradingview.com/wiki/Directional_M

[2018-03-17 14:33] hidden1994 opened #46 "Problem with TransformingCandles, InvalidTimeframeException"
Today faced problem with converting candles from lower interval(i.e. 15min) to higher interval(i.e. 30m or 1h)

Application perfectly works on my home pc, but refuses to work on another pc.
I am in russia, moscow (+3 UTC), he is in somewhere in canada(-5 UTC).

So i looked into Transform extension function and sibling methods and heres what i found:

Trady/CandleExtension.cs
In method **IsTimefram

[2018-03-25 13:20] sagarraut0007 opened #47 "RSI calculation is giving "Divide 0" exception"
var rsi = candles.Rsi(9)[candles.Count() - 1];

Exception -> Attempted to divide by zero
StackTrace ->

   at System.Decimal.FCallDivide(Decimal& d1, Decimal& d2)
   at System.Decimal.op_Division(Decimal d1, Decimal d2)
   at Trady.Analysis.Indicator.RelativeStrength`2.ComputeByIndexImpl(IReadOnlyList`1 mappedInputs, Int32 index)
   at Trady.Analysis.Infrastructure.AnalyzableBase`4.<ComputeByIndex

[2018-03-26 07:54] lppkarl commented on #44
Hi @shabbosgoy , I've tried the test code on v3.1 branch and it works perfectly on my machine. The version of the branch should be equivalent to v3.1.0-beta1 on nuget, please try that version and see if the bug is fixed. Thanks.

[2018-03-26 07:57] lppkarl commented on #47
Hi @sagarraut0007 , there's a relating issue on #44, this issue will be closed. It would also be good to try if v3.1.0-beta1 on nuget works and see if the bug is fixed. Thanks.

[2018-03-26 07:57] #47 closed

[2018-03-26 08:29] lppkarl commented on #46
Hi @hidden1994 , to do an indepth test on this issue, would you mind giving us the test code for this issue? Thanks.

[2018-03-26 08:54] lppkarl commented on #45
@ArashSade thanks for the links. I've read the calculation methods from both site, and i've found that they have different calculation method for ADX.

For TradingView, they calculate their DI by Smoothing(DM/ATR). However for Stockcharts, they calculate it by Smoothing(DM)/ATR. That's the reason why they have a different result for ADX calculation.

However, for the current situation, I would kee

[2018-03-26 09:24] neonVoice commented on #46
Importer from binance:
[code]

Getting candles history for pair and storing in in "associate array":
[code]
After returning PairCandles, im immideately start async processing job for it:
[code]

FillTradingenabledLines -> ProcessPairCandles:
[code]
ProcessPairCandles -> AnalyzePair:
[code]
AnalyzePair -> Extension methods

[code]

Extension ConvertCandlesToTime:
[code]

Here Transform operation is

[2018-03-26 09:25] hidden1994 commented on #46
Importer from binance:
[code]

Getting candles history for pair and storing in in "associate array":
[code]
After returning PairCandles, im immideately start async processing job for it:
[code]

FillTradingenabledLines -> ProcessPairCandles:
[code]
ProcessPairCandles -> AnalyzePair:
[code]
AnalyzePair -> Extension methods

[code]

Extension ConvertCandlesToTime:
[code]

Here Transform operation is

[2018-03-27 03:28] lppkarl commented on #46
@hidden1994 Thanks for the follow-up. I'll take a look of it 😃

[2018-03-27 03:53] lppkarl commented on #41
Hi @ASADeveloper Sorry for the late reply. The candlestick pattern recognition is not completed yet, hence the extensions for buy/sell rule, but it would be quite straightforward to create an extension of it using something like

[code]

\* The above code is not tested.

[2018-04-09 18:43] mgocean opened #48 "How to get Buy/Sell Signal for last candle?"
Hello, First of all thanks for the solution.   I am trying to develop bot on this.  The problem is, I cannot get the signal for last (recent) candle.  I tried the following code;

[code]

Doing something wrong?

[2018-04-10 12:24] lppkarl commented on #48
If you're retrieving the signal of the last candle, you should set the second parameter of the indexedcandle to candles.count()-1 instead of 1

[2018-04-11 06:40] mgocean commented on #48
Thanks for the fast response I think the following test methods mislead me about the parameter to be set as "1" . But still "candles.count()-1" doesn't catch the "if (indexedCandle.IsMacdBullishCross(x, y, z) == true)" condition.   I will be debugging If I find anything I will share but If you have any root cause analysis result please share.
Thank you.
[code]

[2018-04-11 19:55] mgocean commented on #48
Hi again,  I found the problematic part
`public static bool IsTrue(this (AnTick, AnTick, AnTick) obj, Func<AnTick, AnTick, AnTick, bool> predicate)
        {
            Predicate<AnTick> isValid = t => t != null && t.Tick != null && t.Tick.HasValue;
            return isValid(obj.Item1) && isValid(obj.Item2) && isValid(obj.Item3) && predicate(obj.Item1, obj.Item2, obj.Item3);
        }`
always re

[2018-04-30 11:56] BergWerkGIS commented on #37
@lppkarl @lexruster I'm hitting a bottleneck when calculating `MacdLine` with `Trady@3.0.0`.

The profiler screenshots are from a session with 135 datasets each containing 720 candles.
Almost ~50% of CPU time are spent calculating `MacdLine`.
No difference between `Debug` and `Release`.

![image](https://user-images.githubusercontent.com/4549888/39425663-c3c32456-4c7c-11e8-9cac-c6bed6e0a015.png)
!

[2018-04-30 12:03] BergWerkGIS commented on #37
It's not `MacdLine` specifically but any `Macd` indicator.

If I change the order of calling `MacdLine`, `SignalLine` and `MacdHistogram` it's always the first one that takes most of the time:

![image](https://user-images.githubusercontent.com/4549888/39426187-260b72ce-4c7f-11e8-8b62-9f9d5cd4bf81.png)

![image](https://user-images.githubusercontent.com/4549888/39426224-46d9cbb8-4c7f-11e8-9081-d0e

[2018-05-07 18:51] suddar opened #49 "I do not know how to get sma"
I do not know how to get sma, this is my code, please help me!

var sma = candles.Sma(6).Last();
Console.WriteLine(sma);
Print out >> Trady.Analysis.AnalyzableTick`1[System.Nullable`1[System.Decimal]]

[2018-05-07 19:13] #49 closed

[2018-05-28 05:06] pahlot opened #50 "Add setters to IOhlcv"
While the current design makes sense to some degree, the fact that there are no setters outside of the constructor limits the ability to serialize/de-serialize instances that inherit from IOhlcv, this especially an issue when passing instances that inherit from IOhlcv via a message bus.

[2018-05-28 14:57] lppkarl commented on #50
@pahlot, ya, giving setter to IOhlcv properties actually provide better extensibility on it. It would be good if you could help creating PR for it. Thanks.

[2018-05-29 02:09] pahlot commented on #50
@lppkarl done :)

[2018-05-29 07:36] lppkarl commented on #50
The beta2 package on this change has been uploaded to nuget. Thanks for the PR

[2018-05-29 08:16] #50 closed

[2018-06-21 12:43] glide1178 opened #52 "Null Reference Exception"
Hello, does anyone know why the IsMacdOscBullish rule would throw an exception in this ruleset?

var buyRule = Rule.Create(c => c.IsMacdOscBullish(12, 26, 9))
                                .And(c => c.IsAboveEma(12))
                                .And(c => c.IsAboveEma(26));

However, if I add in a IsFullStoBullishCross condition IsMacdOscBullish does not throw an exception.

var buyRule = Rul

[2018-07-07 06:43] RikardoPons opened #53 "IsEmaBullishCross Or IsEmaBearishCross Always false"
Hello I am trying to figure out how to know if the Ema is Bullish or Bearish.

I did a backtesting using IsEmaBullishCross  and IsEmaBearishCross  and they are working fine

` var buyRule = Rule.Create(ic => ic.IsEmaBullishCross(21, 55));
   var sellRule = Rule.Create(ic => ic.IsEmaBearishCross(21, 55));

            var runner = new Trady.Analysis.Backtest.Builder()
                .Add(candles)

[2018-07-10 10:32] ErcinDedeoglu opened #54 "Pattern matching"
Hi @lppkarl ! Thanks for the wonderful library!

I would like to learn, is patern matching possible via Trady?
I mean, I want to record/snapshot existing patern, and if same patern will find, it'll fire an event. :)

Patern mean: shoulder-head-shoulder etc. But custom.

I hope it's clear :)
Regards!

[2018-07-11 18:07] chillydk147 opened #55 "Unknown backtesting parameters"
Hello, this is a great library, I've just started to look into the backtesting classes and have some questions regarding some parameters which I'm not sure what their purpose is so any help here would be great.

The 2 parameters I'm having difficulty with understanding are "weighting" and "premium". What is their purpose, I've changed the value of 'weighting' but it has no impact of profit value.

[2018-07-12 19:16] chillydk147 commented on #55
Hi thanks for the response, so the premium value is the cost per transaction, if that's the case then why when I look at the first transaction object does the "AbsoluteCashFlow" property have a value equal to 9999.43560, should if not be 9999. The candle for this buy transaction opened at 1.24840

`var tx = result.Transactions;`

[2018-07-12 19:44] glide1178 commented on #55
Maybe set some breakpoints in the BuyAsset and SellAsset methods, and you'll get your answer.

[2018-07-12 19:49] chillydk147 commented on #55
Thanks but how do I do that?, I just have a single line of code which runs the backtest

`Trady.Analysis.Backtest.Result result = runner.Run(10000, 1);`

[2018-07-12 19:51] glide1178 commented on #55
Download the code.

[2018-07-17 03:41] pahlot opened #56 "Several Divide by zero exceptions"
Hi,

Working against 3.1;

after much digging I have found that if a price hasn't moved within a given period of time the CCI will cause a DivideByZero exception @ line 29 because the mean deviation is 0.

To reproduce:
`[TestMethod]
        public void Expect_CCI_Exception()
        {
            var candles = new List<Candle>();
            for(int i = 0; i <= 100; i++)
            {

[2018-07-17 03:53] pahlot commented on #56
Same with the ADX. Still tracing the source of that one...

`[TestMethod]
        public void Expect_ADX_Exception()
        {
            var candles = new List<Candle>();
            for (int i = 0; i <= 100; i++)
            {
                candles.Add(new Candle()
                {
                    Open = 0.03m,
                    Close = 0.03m
                });
            }

[2018-07-17 03:57] pahlot commented on #56
And DMI

`[TestMethod]
        public void Expect_DMI_Exception()
        {
            var candles = new List<Candle>();
            for (int i = 0; i <= 100; i++)
            {
                candles.Add(new Candle()
                {
                    Open = 0.03m,
                    Close = 0.03m
                });
            }
            Assert.ThrowsException<DivideByZeroException>(()

[2018-07-17 04:14] pahlot commented on #56
I dare say there may be others, but I am running out of time as I am about to go away for work.

Could refactor any divisions to something like;

`static public decimal SafeDivision(this decimal numerator, decimal denominator)
        {
            (numerator == 0) ?? return 0;
            return (denominator == 0) ? 0 : numerator / denominator;
        }`

[2018-07-17 12:14] lppkarl commented on #56
@pahlot thanks for pointing out. I need some time to check all the indicator for the division.

[2018-07-17 22:13] pahlot commented on #56
@lppkarl that's understandable. I was thinking about how to best test this along with expending on how we can use the indicators.

I haven't got the time in the next few weeks but what I was thinking is to have a mechanism of discovery of and registration of indicators.

something (very roughly like);

`IDiscoverableIndcator {
   string Key => $"nameOf(theIndecator)_{ConfigValue}";
  string Friend

[2018-07-19 05:59] lppkarl commented on #56
@pahlot Thanks for the idea, but i just want to make something clear. Do you mean we introduce an IDiscoverableIndicator, and make all Analyzables (the base of all indicators) implement this, and we create a test case to discover all these indicators and test the case? I am a bit confuse.

[2018-07-19 17:43] #54 closed

[2018-07-21 05:16] lppkarl commented on #52
@glide1178 Thanks for the notice, this issue should already be fixed in 9e265d7

[2018-07-21 05:16] #52 closed

[2018-07-21 06:58] lppkarl commented on #53
@RikardoPons Sorry for late response. I have double checked and tested the code on IsEmaBullishCross, and it should be correct for the result.

You have mentioned that you have changed the logic from the original one to your traditional one, and works. But they are different in concept, my code is determining if an "intersection point" exists when ema10 cross ema30 upwards for IsEmaBullishCross, s

[2018-07-21 07:09] #22 closed

[2018-07-21 07:09] #56 closed

[2018-07-21 07:37] lppkarl commented on #48
Related to #53, this issue is closed.

[2018-07-21 07:37] #48 closed

[2018-07-21 07:46] lppkarl commented on #55
Hi @chillydk147 @glide1178 , premium is the cost per transaction, and the weighting is only for use when you want to distribute your money to different stocks. E.g. if you want to distribute $800 to aapl & $200 to fb, you use Builder.Add(candles_for_aapl, 8).Add(candles_for_fb, 2) to do the backtest.

[2018-07-22 19:59] RikardoPons commented on #53
Thank you for your answer.

I think I found a possible issue but it is not from your code. I am getting data from som Exchanges like Bittrex and Binance but I realized there are missing candles in the request sometimes. I guess this is affecting the interection when I use IsEmaBullishCross for example.

[2018-07-23 02:16] lppkarl commented on #53
okay. May I close the issue as it's a fixed issue?

[2018-08-02 10:42] pikeman20 opened #57 "KaufmanAdaptiveMovingAverage should it "decimal?""
KaufmanAdaptiveMovingAverage<TInput, TOutput> : NumericAnalyzableBase<TInput, decimal, TOutput>
Should it "decimal?" instead of "decimal"?

[2018-08-09 16:45] maheshlnties opened #58 "Hull Moving Average Indicator"
Can we get hull moving average indicator?

[2018-09-01 16:45] softdev021 opened #59 "is it possible to process indicator using live data"
library looks great
but i have one question
lets say i am subscribed to some feed and every second i am getting new Candle is it possible to calculate indicator value on that candle. instead of reprocessing all candles again?

[2018-09-01 16:55] andyb1979 commented on #59
I achieved this by using the StartIndex, EndIndex parameter to indicator Compute function

[2018-09-01 19:04] softdev021 commented on #59
Great can you please give some example i am just getting started will be great help....
Thankyou

[2018-09-01 19:05] andyb1979 commented on #59
It’s open source software bro, you have to work it out :D

[2018-09-01 19:11] softdev021 commented on #59
okay thanks :)
just allow me to ask one more question please
for example if i am using following code
var closes = new List<decimal>{ ... };
suppose closes list lenth is 31
var smaTs = closes.Sma(30);
var sma = closes.Sma(30)[index];

so if i add another close in closes list
i can get value by index bit it again processing all array right. so i wanted to know does the indicator cached the previous

[2018-09-01 19:12] andyb1979 commented on #59
It’s. it my project so I don’t know, but I suggest try it out :D

[2018-09-10 10:59] pavlexander opened #60 "candle transformation is very slow"
I have encountered a situation with a big set of data, that transform function is very slow and needs improvements.

- start set of data: 385,577
- start interval: 1 Minute
- end set of data: 3,243 (without fix: 3,221)
- end interval: 2 Hours

Default time taken to execute: 150,000 ms
Time taken to execute after optimizations: 29,000 ms

Code:

[code]

Before:
[code]

After:
[code]

While I do see

[2018-09-10 11:53] pavlexander commented on #60
Here, I have made an example, which will ONLY work for 1Minute to 2Hours transformation.

- Default time taken to execute: 150,000 ms (records: 3,221)
- Time taken to execute after optimizations Nr.1: 29,000 ms (records: 3,243)
- **Time taken to execute after optimizations Nr.2: 132 ms** (records: 3,242)

Old code:

[code]

New code (optimizations Nr. 2)
[code]

And again, I will repeat myself - t

[2018-09-11 03:43] lppkarl commented on #60
@pavlexander Thanks for the investigation & the optimized code. You're right with the 1st optimization, LINQ is lazy-evaluated, the Where clause have been evaluated every Any(), First(), Last(), Sum(), Min(), Max() operation.

A traditional for-loop (your approach) to create a new list is also a solver to this problem. I think ToList() after the Where clause may also work like the traditional loop

[2018-09-11 03:50] lppkarl commented on #59
@softdev021 the value is re-computed, there's no caching mechanism in indicator computation.

[2018-09-11 03:52] lppkarl commented on #58
@maheshlnties i have to study it first before i can implement the indicator, you may also create a PR on this, it would be a great help 👍

[2018-09-11 03:55] lppkarl commented on #59
Also related to #29

[2018-09-11 03:58] lppkarl commented on #32
The issue is no longer active, closed

[2018-09-11 03:58] #32 closed

[2018-09-11 04:01] lppkarl commented on #35
The issue is no longer active, closed.

[2018-09-11 04:01] #35 closed

[2018-09-11 04:02] lppkarl commented on #36
The latest version should include CsvHelper (>6.0.0), the issue is probably solved, close.

[2018-09-11 04:02] #36 closed

[2018-09-11 04:04] lppkarl commented on #41
The issue is no longer active, close.

[2018-09-11 04:04] #41 closed

[2018-09-11 04:05] lppkarl commented on #44
The issue is no longer active, close.

[2018-09-11 04:05] #44 closed

[2018-09-11 04:07] lppkarl commented on #53
The issue should have fixed, but no response from @RikardoPons . Close.

[2018-09-11 04:12] RikardoPons commented on #53
I am sorry for the late reply. I could not fix the problem. I mean when I do backtesting the method is working fine but... when I do a request to get the candles the result is always false. I am struggling with this issue now..

[2018-09-11 04:17] lppkarl commented on #53
Do you mean you want to get all the candles that should fulfill a condition or not?

[2018-09-11 04:18] lppkarl commented on #55
The parameters for backtest should be explained. Close.

[2018-09-11 04:18] #55 closed

[2018-09-11 04:43] RikardoPons commented on #53
I am getting the candles from the exchange  trying to find a buy signal or sell signal.. If I download these candles and I do a backtesting everything is fine I can get the buy and sell signals only when I do backtesting.. If I get the candles from the exchange and I apply the algo using this method Always is false.

[2018-09-11 05:17] lppkarl commented on #53
May I know how you are trying to apply the algo to determine the condition in code level? It may be misuse of the determine method. Could you paste the code to let me test it?

[2018-09-11 05:27] RikardoPons commented on #53
For example I want to apply this algo just it is working when I use backtesting.

`
 var ic = new IndexedCandle(candles, candles.Count - 1);

 var buyRule = (ic.IsEmaBullishCross(21, 55) && ((ic.Ema(8) > ic.Ema(13)) && ic.Ema(21)> ic.Ema(55)));
            var sellRule = (ic.IsEmaBearishCross(21, 55) && ((ic.Ema(8) < ic.Ema(13)) && ic.Ema(21) < ic.Ema(55)));`

[2018-09-11 05:51] lppkarl commented on #53
Is the Ema method declared by you?

[2018-09-11 06:15] RikardoPons commented on #53
Yes I did  my own extension. It's forking fine. You can try just using IsEmaBullishCross  and IsEmaBearishCross and I got the same result for example trying to get a buy signal and sell signal using Emas strategy 12,26 whatever always raturn false. But did some testing and your code looks fine my theory is the candles I'm requesting each period of time  must be synchronized with the exchange and g

[2018-09-11 06:37] lppkarl commented on #53
Okay. I have to check it first as I am now busy with another project, I will get back to you later.

[2018-09-11 11:04] andrzej-suwala commented on #59
I',m looking for the same as @softdev021.
It would be nice if indicators, that base on previous values, had a parameter to pass "starting point", which would be a previous value of that indicator.

[2018-09-11 16:34] irperez commented on #37
I'm wondering if this is related to issue #60

In that scenario, LINQ is the root cause in that case.

[2018-09-11 17:30] lppkarl commented on #37
@irperez yeah, i was also wondering if LINQ has been the major issue behind this case, but i need further check on this

[2018-09-12 05:54] lppkarl commented on #53
@RikardoPons I've just checked the logic, the index you use in transaction differs the actual index by 1. The buy/sell procedure should be
Hit buy/sell rule (current timeframe) -> Buy/Sell stock (current timeframe + 1)
So, if you need to verify the condition you should use `new IndexedCandle(candles, index - 1)` to check rather than `new IndexedCandle(candles, index)`

[2018-09-12 10:32] #60 closed

[2018-09-12 10:35] lppkarl commented on #60
@pavlexander The code is patched. Please see if the performance issue has fixed 😃

[2018-09-12 10:43] lppkarl commented on #59
@andrzej-suwala it sounds good but the effort to complete this feature is not trivial, I might have to spend some time to work on it, it would be a great help if you guys could create a PR for the feature 😄

[2018-09-12 10:45] lppkarl commented on #29
Merge to #59 for more exposure

[2018-09-12 10:45] #29 closed

[2018-09-12 10:47] lppkarl commented on #12
The feature is at very low priority now, close.

[2018-09-12 10:47] #12 closed

[2018-09-12 10:48] lppkarl commented on #33
The issue is no longer active, close.

[2018-09-12 10:48] #33 closed

[2018-09-12 10:56] #34 closed

[2018-09-12 11:02] andyb1979 opened #61 "Demo of integrating to SciChart"
Hi Karl,

I'm interested in making a demo of integrating trading to [SciChart - High Performance WPF Charts](https://www.scichart.com). If I do it, would you put a link in your readme.md?

SciChart is commercial software, not free, but it is very good and allows financial charting in realtime. Also if we see improvements to Trady we're willing to help contribute!

Best regards,
Andrew

[2018-09-12 11:11] lppkarl commented on #61
@andyb1979 yea, of course. We can put the link to README.md if you do it, any help is welcomed 👍

[2018-09-12 11:12] pavlexander commented on #60
@lppkarl yes, I can verify that now it's 437x faster than previous implementation :)

Thank you for taking care of this issue and of course, for Trady! You are doing a great job.

[2018-09-12 17:31] RikardoPons commented on #53
If I understand my code should be like this
`var ic = new IndexedCandle(candles, candles.Count - 2);`

I will try it!

Thank you!

[2018-09-13 03:30] lppkarl commented on #53
@RikardoPons Once you've tested ok, it would be good to help to close this issue. Thanks.

[2018-09-13 06:10] maheshlnties commented on #58
I have tried implementing, but i am not getting exact values though. HMA is a derivative calculation from WMA.
**Calculation:**
1. Calculate a Weighted Moving Average with period n / 2 and multiply it by 2
2. Calculate a Weighted Moving Average for period n and subtract if from step 1
3. Calculate a Weighted Moving Average with period sqrt(n) using the data from step 2
HMA= WMA(2*WMA(n/2) − WMA(n)

[2018-09-13 06:29] lppkarl commented on #58
@maheshlnties thanks for the formula, i will take a look of it. It seems we need to implement WMA first, and then HMA based on WMA. I will try to implement it this weekend maybe.

[2018-09-14 01:48] RikardoPons commented on #53
@lppkarl  thank you  Now is working properly!

[2018-09-14 01:48] #53 closed

[2018-09-14 18:01] lppkarl commented on #37
@irperez I've just added ToList() in Ema calculation which relies by Macd indicator, the performance boost is very significant from 156697ms to 631ms (37767 candles, 248x boost), the lazy-evaluation of LINQ seems to be the major cause of the great performance hit. I might have to scan through the indicators and see if there's room for performance optimization regarding to the lazy-evaluation probl

[2018-09-14 23:38] irperez commented on #37
@ippkarl it might be worth while to add some benchmarks on the indicators. I can look into this using benchmark.net.

[2018-09-15 01:57] lppkarl commented on #37
@irperez Okay, thanks for the help. 👍

[2018-09-15 04:30] irperez commented on #37
@lppkarl I just added a pull request (#62 ) with some benchmarks.  Looks like Dymoi maybe another problem.

[2018-09-15 09:59] lppkarl commented on #37
@irperez thank you very much for the benchmark, seems dymoi really takes too much time to compute when compared to the others, i'll take a look of it first.

[2018-09-15 11:42] #58 closed

[2018-09-15 11:43] lppkarl commented on #58
@maheshlnties Both the weighted moving average & hull moving average has been implemented. Please help to check if the calculated value is correct.

[2018-09-15 12:55] lppkarl commented on #40
Can't find precise definition of Squeeze Momentum Indicator, only knows it's making use of Bollinger Bands & Keltner Channels, a precise definition is needed to implement the indicator.

[2018-09-15 13:08] lppkarl commented on #58
@maheshlnties I find there's some possible reasons for the difference when i was implementing the indicator:

1. If input period is an odd number, what number should be used when using "period / 2" in calculation step 1, should we use the flooring integer or ceiling integer? In my implementation, i have used the flooring one.

2. Same decision happens in step 3, if sqrt(n) is not a whole number, s

[2018-09-15 13:29] maheshlnties commented on #58
@lppkarl Excellent!! Using ceiling integer in step 1 is giving exact values. Thanks a lot once again :)

[2018-09-15 14:47] irperez opened #64 "Release 3.2 NuGet package?"
With all of the recent changes (new indicators, performance improvements, bug fixes), shall we release 3.2 nuget package?

[2018-09-15 15:00] irperez opened #65 "Upgrade compiler to 7.3"
The latest compiler version 7.3 allows us to take advantage of some good performance features that were not available.

In particular the use of ref, in, out keywords in ways not possible before.

This may be useful especially when dealing with a large amount of candles.  Using references instead of objects as it may boost performance.

So for example, the original did without the "in" keyword:
[c

[2018-09-15 17:33] irperez commented on #65
Just realized that variables that have the "in" keyword assigned are not allowed to be used by LINQ queries...

[2018-09-16 06:36] lppkarl commented on #64
Yes, i'm preparing the package & the documents for the recent change. May complete uploading today.

[2018-09-16 08:59] #64 closed

[2018-09-16 13:06] irperez commented on #65
If that's the case than it works in some situations and may not work for in others.  We may have to learn the rules around "in".  Compiler complained when put "in" with a function that used that parameter within a LINQ statement.

We just need to be sure that any use of "in", there really is no modification of that objection.  It's just for reading.  And we need to be very careful of using "in" on

[2018-09-16 13:11] irperez opened #66 "Add GitHub Pages for Better Documentation"
I feel the one area that is lacking is really good mature documentation.  If the documentation can be better explained with even more examples, I believe the use of this library will explode.  Google will also put this library higher in its rankings.

My first recommendation is to setup [GitHub Pages](https://pages.github.com/) and migrate all the documentation there.  Break down the documentation

[2018-09-17 03:33] lppkarl commented on #65
yea, i agree. We must make sure the suitable use cases of "in" parameter first before we proceed the change. And for the case you've mentioned, could you branch an un-workable version for me to investigate the problem, i mean the "not allowed to be used by LINQ" use case.

[2018-09-17 03:41] lppkarl commented on #66
That's a great idea, @irperez . But i'm quite new to Github Pages, would you mind helping me to set up the Github Pages, and tell me what i need to prepare for the documentation? I am willing to help 😄

[2018-09-18 03:42] irperez commented on #66
@lppkarl I see you setup the pages.  I've gone on and got started with some setup.  But lots more to do.  Its something we can build on and add more detail.

See #67

[2018-09-18 05:32] lppkarl commented on #66
@irperez Much appreciated for your help. I'll take a look of the pages, and add the details later.

[2018-09-19 01:42] irperez opened #69 "Bug in backtest"
@lppkarl I believe I found a bug.  NullReferenceException in backtesting.  Maybe I'm doing something wrong?

If I am doing something wrong, maybe we need validation.  Otherwise I think this is valid scenario, no?

Here is my sample.

[code]

[2018-09-19 02:33] irperez opened #70 "Negative numbers in result.Transactions[x].Quantity"
I'm seeing negative numbers consistently in the Quantity field in the Transactions after a back test run.  See below.

![image](https://user-images.githubusercontent.com/1376080/45727677-bcaeed00-bb92-11e8-823a-7b2b49e9e071.png)

And this is the builder code to set things up.

![image](https://user-images.githubusercontent.com/1376080/45729663-832eaf80-bb9b-11e8-9a31-5bfc6201402c.png)

[2018-09-19 05:00] #69 closed

[2018-09-19 05:02] lppkarl commented on #69
The null reference happens because a sell signal is discovered before a buy signal, getting the open of the last transaction will throw null reference exception

[2018-09-19 06:44] lppkarl commented on #70
@irperez The case happens because the Fee parameter is misused in the builder, the fee here is used for currency exchange when use foreign currency to buy stock, it should be the fee for exchange, and should be a rate (between 0 and 1).

To clarify the use case, I've renamed those method in the Builder class, 'Fee' is changed to 'FlatExchangeFeeRate', 'BuyCompleteCurrencies' is changed to 'BuyWith

[2018-09-19 12:58] irperez commented on #70
That makes a ton more sense.  We should put validation so that the Fee is only ever between 0 and 1.

[2018-09-19 12:59] irperez commented on #70
Is there a way to track transaction costs per trade?

[2018-09-19 13:11] irperez commented on #69
@lppkarl so did I do something wrong here?  How do I prevent this from occurring? Or do we need to do a null check before processing the sell signals?

[2018-09-19 13:17] lppkarl commented on #70
The cost are not currently added into each Transaction object, but should be easy to implement, you can study Runner.cs line number 101-147 for creation of Transaction object.

[2018-09-19 13:33] lppkarl commented on #69
Nope, you're not doing wrong. I've commited code to fix the issue this morning.

[2018-09-19 14:28] irperez commented on #70
Ok, I'll see if I can make a PR for this.

[2018-09-27 11:55] jotab24 opened #71 "Indicator Volume NVI ( negative Volume)"
Hi! i'm improving to create my own indicator, but i don't know how i can do.

the formula is easy:

NVI = Previous NVI + {[(Today's Closing Price-Yesterday's Closing Price)/Yesterday's Closing Price)] x Previous NVI}.

can you help me?? Thanks!!!

[2018-09-27 15:52] lppkarl commented on #71
Hi @jotab24, You may create a class that inherits from CumulativeNumericAnalyzableBase<IOhlcv, decimal?, AnalyzableTick<decimal?>>.

In your constructor, call base class with parameters (inputs, c => c.Close) to allow the indicator to use only the close price in the computation step.

Then, override ComputeInitialValue, you should have the 1st calculated value (NVI) without previous NVI value.

An

[2018-09-28 05:54] jotab24 commented on #71
ok i have a new class from CumulativeNumericAnalyzableBase, but i need the last NVI value...
the formula is in this website.
Calculation
If today's volume is less than yesterday's volume then:

![image](https://user-images.githubusercontent.com/24636715/46190294-52651d80-c2f3-11e8-9b44-7b3be780637b.png)

If today's volume is greater than or equal to yesterday's volume then:
![image](https://user-i

[2018-09-28 09:02] lppkarl commented on #71
@jotab24 ok. maybe i will do it this weekend.

[2018-09-28 11:45] jotab24 commented on #71
thanks a lot!If I understand the manual I will make new indicators!!

[2018-09-29 09:42] #71 closed

[2018-09-29 09:43] lppkarl commented on #71
@jotab24 NVI/PVI are added, please help to test the indicator.

[2018-09-29 13:27] jotab24 commented on #71
Thanks you so much I will test tomorrow!

[2018-10-02 05:36] jotab24 commented on #71
works as expected!!!Thanks!

[2018-10-07 13:22] vjcapron opened #72 "RSI indicator returns null for this sequence"
I was running through a loop to calculate RSI(5) for about 800 stock tickers in my historical database.  All but one resulted in the correct value.

The stock data for ticker ALB (Albermarle) returns a null RSI and I cannot figure out why.  Can someone help me debug this?

Here is the OHLC data for the candles list.  I was trying to calculate RSI(5) for September 20, 2018 candle.

![image](https:/

[2018-10-10 12:42] lppkarl commented on #72
@vjcapron could you give us the whole csv so we can use that csv to test?

[2018-10-12 11:14] vjcapron commented on #72
The problem does not occur if I pass the function one more candle of OHLCV data.  I'm not sure why I would need 11 candles to calculate RSI(5) but I was able to find a work-around.

[2018-10-12 11:14] #72 closed

[2018-11-07 04:35] codebeaulieu commented on #46
I have a possible fix for this, but I wanted to talk it through to make sure it made sense.

The original IsTimeframesValid method looks like this:
[code]

[2018-11-07 15:29] lppkarl commented on #46
@codebeaulieu Thanks for your solution on this issue, i will check in detail in this weekend 👍

[2018-11-07 16:18] codebeaulieu commented on #46
@lppkarl Sounds good. Fwiw, I'd be happy to send a PR if this solution works for you.

[2018-11-11 09:29] lppkarl commented on #46
@codebeaulieu I have double-checked your code, i think the 1st implementation is pretty good, but i think the block
[code]
can be moved outside the "if" block and replaced with
[code]
and may use nextTime directly instead of nextTime.Date in
[code]
as we also allow intraday checking for the candles (The 2nd implementation has the same problem).

Would be appreciated if you could submit a PR on thi

[2018-11-19 08:21] lppkarl commented on #46
should be fixed by #73

[2018-11-19 08:21] #46 closed

[2018-11-25 16:18] codebeaulieu commented on #72
@lppkarl I ran into this as well, I was calculating RSI with a length of 14 across 20 candles. What is the requirement to calculate RSI? I thought it would just be the input length plus a small buffer?

For example, does it require 3x the input length?

[2018-12-04 13:49] codebeaulieu opened #74 "Add VWAP indicator"
I was very suprised to see that VWAP is not included in the Indicator list. What would it take to add this widely used indicator? Was it left out for a specific reason?

[2018-12-12 17:41] rodyla opened #75 "Smoothed Moving Average (SMMA) (Feature Request)"
Would love to see the SMMA implemented, this way it would be easy te create an Williams Alligator, since this is a shifted SMMA.

The first value for the Smoothed Moving Average is calculated as a Simple Moving Average (SMA):
SUM1=SUM (CLOSE, N)
SMMA1 = SUM1/ N.
The second and subsequent moving averages are calculated according to this formula:
SMMA (i) = (SUM1 – SMMA1+CLOSE (i))/ N.
SUM1 – is the

[2018-12-15 01:19] codebeaulieu commented on #74
@lppkarl Could you provide some high-level guidance on this by chance?

I'm attempting to wire this indicator up on my own but it looks like the closest base class to what I need is `CumulativeNumericAnalyzableBase`, which provides a single means of accumulating data. It appears what I am after is a `DualCumulativeAnalyzableBase` since I need to accumulate both Typical Price and Volume separately

[2018-12-15 20:18] SpaceRider79 opened #76 "multiple SSL-Connections in one project"
If I first connect to my broker and I second connect to AlphaVantage via Importer and both SSL I get following stackTrace:

HResult = -2146233079
InnerException = {"Die zugrunde liegende Verbindung wurde geschlossen: Für den geschützten SSL/TLS-Kanal konnte keine Vertrauensstellung hergestellt werden.."}
Source = "mscorlib"
StackTrace = "   bei System.Runtime.CompilerServices.TaskAwaiter.ThrowForN

[2018-12-16 06:35] lppkarl commented on #74
@codebeaulieu sorry for the late reply as I was very busy for my job. You may think it like this:
If you want to get the vwap, you have to get the Cumulative(Typical Price x Volume) & Cumulative(Volume) first, this will be treated as 2 different Cumulative indicators.

The vwap indicator should be implemented like this:
[code]
And the 2 cumulative indicator should be implemented using the cumulati

[2018-12-16 06:36] lppkarl commented on #75
@rodyla sorry for the late reply, but i'm currently very busy on other projects. Would be good to see a PR to implement the feature. Thanks.

[2018-12-16 06:40] lppkarl commented on #76
@SpaceRider79 Would like to know which .net platform you are running the library? Because i think it may be a compatibility issue on the security package with our library. It would probably not what we can resolve if it's the case.

[2018-12-16 14:45] SpaceRider79 commented on #76
Maybe you can make Client = {System.Net.Http.HttpClient} as public member for manipulations?

I compare both request with fiddler. Only the keep-alive Parameter to broker request is different.

CONNECT www.alphavantage.co:443 HTTP/1.1
Transport
Host: www.alphavantage.co
Connection: Keep-Alive

[2018-12-18 00:50] codebeaulieu commented on #74
@lppkarl Alright, I _believe_ I may have this correct. The data I have at my disposal is IEX data, which, if I understand correctly doesn't reflect volume accurately. I'll seek out a better source here this evening so I can test properly.

Could you review my implementation and let me know if this looks correct to you.

VolumeWeightedAveragePrice
[code]
[code]
[code]

One thing that I defnitely ne

[2018-12-18 18:52] SpaceRider79 commented on #76
Today I continued. There is a simple solution. It works for me:

ServicePointManager.CertificatePolicy = null;

It is not your issue . Sorry!

[2018-12-19 01:07] lppkarl commented on #76
This issue is resolved.

[2018-12-19 01:07] #76 closed

[2018-12-19 01:15] lppkarl commented on #74
@codebeaulieu I will review it at this weekend. For your 2nd question, i don't really understand what you mean by "start fresh each day", does it mean for each day, it would be a new set of data and the data of old days would be ignored? If it's the case, just pass the minutes data in input per each day.

[2018-12-19 02:12] codebeaulieu commented on #74
Just noticed you said this: _If it's the case, just pass the minutes data in input per each day._

I'll give this a shot

[2018-12-21 01:30] codebeaulieu opened #77 "Directional Movement Index (DMI) should return a tuple"
Directional Movement Index consists of DIPlus, DIMinus and ADX values and all three of these values are independantly useful in technical analysis.

<img width="562" alt="screen shot 2018-12-20 at 7 29 32 pm" src="https://user-images.githubusercontent.com/9411281/50319572-ae23ea80-048d-11e9-9bf9-6641252da868.png">

Please expose the calculated result from the DMI indicator as a tuple rather than a

[2018-12-21 01:36] codebeaulieu commented on #77
I see the ADX indicator indeed returns the values I'm after. Closing.

[2018-12-21 01:38] codebeaulieu commented on #77
I noticed the Average Directional Index (ADX) indicator and thought it returned the tuple I was after, which is why I closed and reopened.

[2018-12-21 01:48] codebeaulieu commented on #77
I think I understand your reasoning here. Each piece can be used and analyzed independantly via

- MinusDirectionalIndex
- PlusDirectionalIndex
- AverageDirectionalIndex

This seems like it will work fine if not ideal for my use cases.

[2018-12-21 01:48] #77 closed

[2018-12-22 23:48] codebeaulieu opened #78 "Ichimoku indicator returns too many null values"
I've just attempted to integrate Ichimoku into a big project. I wrote all of the rules I needed and began writing unit tests against the indicator. My very first, and very simple unit test is failing.

Upon further inspection, its failing because there are a **ton** of null values returned from the indicator **rendering it completely unusable**.

<img width="831" alt="screen shot 2018-12-22 at 5 4

[2018-12-23 00:11] codebeaulieu commented on #78
For good measure I just attempted to import the data using your CSVImporter and I had the same results.

[2018-12-24 21:07] codebeaulieu commented on #78
I see what you are doing here... and it makes sense after I think about it. It was just a bit hard to understand without thinking through how the indicator works.

So, for anyone using this indicator in the future. Keep in mind that the indicator has a leading compnent to it (Span A & Span B). So, if we are trying to perform analysis on the Tenkan line (for example), we have to look back in our da

[2018-12-24 21:12] #78 closed

[2019-01-04 10:33] FunDoor opened #80 "StochRSI %K %D (Feature Request)"
I try to implement it by myself, but the code made me confuse.
`IIndexedOhlcv.Get<StochasticsRsiOscillator>(periodCount).Sma(3, ic.Index)`
 can get the %K,but I can't get the %D with the similar method.

[2019-01-05 13:10] ddzartiaga opened #81 "Missing implementation in several Candlestick patterns"
Hammer, InvertedHammer, HangingMan, ShootingStar doesn't have ComputeByIndexImpl codes.

[2019-01-09 14:35] IsaacFilarski opened #82 "More specific documentation and Trady test"
Hello there,

I'm a new dotnet developer and I'm trying to make use of your Framework but i see very limited documentation. The only test I've been running is the benchmark and I find some things unclear.

I can't even find a tutorial of how Trady works on youtube there's only literally just what you offer.

Are there any plans on making more documentation?

Thanks for all :)

Greetings.

[2019-01-23 23:05] codebeaulieu commented on #74
@lppkarl I was about to ask if you wanted me to submit a pull request. However, I noticed you actually already have a branch with a VWAP implementation. Is there any reason why it has never been merged in?

https://github.com/lppkarl/Trady/blob/vwap/Trady.Analysis/Indicator/VolumeWeightedAveragePrice.cs

Let me know.

[2019-01-24 14:41] lppkarl commented on #74
@codebeaulieu it's because I haven't created the unit test case on the indicator, and i couldn't find a third party site that has the indicator for me to verify my algorithm. That's the main reason.

[2019-01-24 14:55] codebeaulieu commented on #74
@lppkarl I understand.

How do you feel about testing against market data and a chart? That's how I've been testing your indicators and it's been working very well.

Basically I pull data into a CSV file, say NFLX for example. I'll store the 1 minute bars and aggregate them to suit the needs of my tests if needed.

**A positive VWAP test would be**
- Observe VWAP on NFLX chart at 320.50 at 10:00AM

[2019-01-24 15:08] lppkarl commented on #74
@codebeaulieu Does it mean you have a third party chart that can give the VWAP value for you? If that's the case, it's okay to have the test case like yours.

[2019-01-24 16:14] codebeaulieu commented on #74
Yes, for example in the image I shared above (a few posts back) I have VWAP (magenta).

In my unit tests I ensure my indicator settings are exactly the same and then perform the tests. For what its worth, I am trading live with your indicators and they perform exactly how I'd expect them to from my unit tests. So I believe this to be a good approach.

If you are cool with this approach to testing,

[2019-01-25 02:10] lppkarl commented on #74
@codebeaulieu okay, i'm okay with the approach, let's do it in this way. Thanks.

[2019-01-27 17:31] codebeaulieu commented on #74
Merged master into the VWAP branch and added 3 passing unit tests with fresh data.
#83
https://github.com/lppkarl/Trady/pull/83

[2019-01-28 09:34] SariSultan opened #84 "Charts (Feature Request)"
Charts are very important missing feature.

[2019-01-30 01:33] lppkarl commented on #84
@SariSultan yup, i know that but i really don't have time to implement the feature. It would be good if you could create a PR on that. Thanks.

[2019-01-30 01:40] lppkarl commented on #82
@IsaacFilarski @SariSultan Actually, it is discussed several months ago in #66 but the only current document is the readme file. For additional documentation, I would need to see if time is available as I'm quite busy on my work now.

[2019-01-30 03:10] lppkarl commented on #81
@ddzartiaga Some of the candlestick patterns are not yet implemented, it will be good if you could create a PR on it 👍

[2019-01-30 03:12] lppkarl commented on #70
@irperez Would like to confirm if it has been implemented or abandoned? Thanks.

[2019-01-30 03:14] lppkarl commented on #61
Question being answered. Closed.

[2019-01-30 03:14] #61 closed

[2019-01-30 04:21] irperez commented on #70
@lppkarl I've put in a PR for this one.  Sorry it took so long.

[2019-01-30 05:59] lppkarl commented on #70
@irperez it's ok, just want to confirm it's done. Thanks 👍

[2019-01-30 05:59] #70 closed

[2019-01-30 08:07] IsaacFilarski commented on #82
@lppkarl @irperez Well I would like to know in detail how the rules work. It would be very helpful if you someday take an hour to record a tutorial of you using Trady and explaining/covering as much as you can.
I plan on posting my project with some limitations when I finish to help starters.

[2019-01-30 21:07] rossspaul commented on #82
I agree, I'm struggling to do simple things like RSI(14) or ATR(20).  Setting up the data properly and passing that data to these functions is very confusing.  More examples on data setup (IOhlc) and calling the indicator functions please!  Great library but hard to use.

[2019-02-05 15:41] irperez commented on #59
This is an interesting and highly desired feature.  The current design is a very functional approach.  This would require holding state.  And the two designs conflict.

I would definitely like to see this come to play, but we would need to come up with a solid stateful design so that calculations are performed on the new elements and not on the old.

I would like to see a proposal come forward.

[2019-02-10 12:59] vsshprasad opened #87 "Back test short strategy"
Hi,

I am going through this solution and found it helpful. When trying out back testing, i am unable to test a short strategy. Can you please provide an example / refer me how i can back test a short strategy?

[2019-03-03 11:43] Jiraiyah opened #88 "Add TSI (True Strength Index) to indicators?"
Hi
TSI is a momentum based indicator on par with MACD, here is the wiki page for it

https://en.wikipedia.org/wiki/True_strength_index

the formula is not that complex, would you mind adding it to the indicator library?

[2019-03-03 12:09] Jiraiyah opened #89 "list order for calculating indicators?"
Hi
What should be the order of candles in the list for proper calculation? the last candle zero element or reverse?

[2019-03-17 17:12] Jiraiyah commented on #88
please, any chance for getting this?

[2019-03-18 22:24] leblebitozu commented on #21
I implemented basic importer for cryptocurrencies using the libraries I specified below, if you want to add your library, I can share with you.

https://github.com/joancaron/cryptocompare-api/tree/master/src/CryptoCompare
https://github.com/jjxtra/ExchangeSharp

Importer support nearly all of the popular exchanges avaliable

some usage examples;

`   // use exchangesharp
    var importer = new Cry

[2019-03-20 05:01] irperez commented on #88
@Jiraiyah if it's that simple, could you do a pull request with some unit tests?

[2019-03-20 12:47] Jiraiyah commented on #88
honestly i would, problem is, either i have to do it using the extension method alone, or....

If i want to make it a base structure like that lppkarl done, i need to head dive into the whole structure of the repo to figure how the base indicator structure works.

in the first scenario,... it's really really really easy... but it would ask for 4-5 method calls and i'm not sure if it's performance

[2019-03-27 16:20] Jiraiyah opened #90 "calculate CCI on list<decimal> ???"
Yes, there is a usage for such a thing (calculating CCI on anything other than close value) !!

I wonder if there is a way to do it or not?

I mean, when you look at most of these indicators, they SHOULD accept a list of decimals and not the candles themselves. for example, what if i want to calculate cci based on HLC3 and not the close value?! and again YES, it's a valid technical analysis reques

[2019-04-16 07:06] tht12837a opened #91 "RSI returns null instead of 100 when there is no Average Loss"
RSI should be 100 when the Average Loss equals zero. Using the RelativeStrengthIndexByTuple we should get 100 when there is no Average Loss, but instead RSI is null.

How to reproduce:

                List<decimal?> allTradyCandlesList = new List<decimal?>();

                for (int i = 1; i < 21; i++)
                {
                    allTradyCandlesList.Add(i);
                }

[2019-04-16 11:30] pavlexander opened #92 "Ishimoku could improvements"
# Description

I would like to report some issues with Ichimoku Cloud

## Issue 1: No `Displacement` parameter

If you look at some implementations (https://www.tradingview.com/chart/) of Ichimoku cloud - it is NOT always calculating leading and lagging lines using the medium period length. In most of the cases a new parameter is introduced, which is called `Displacement` .
It defines - by which p

[2019-04-17 10:16] pavlexander commented on #90
@Jiraiyah
Unfortunately I can't comment on the issue that you are having, but I have a question. Are you using some kind of visualization tool for the data generated by Trady?

My biggest "must-have" feature at this point is not a lack of some indicator or a framework architecture. It's the visualization/plotting of the data. I've been wondering how other people are using this library to create ch

[2019-04-23 12:26] Jiraiyah commented on #90
visualization is not that hard, either use the built in chart component or in my case, use a 3rd party like Nevron Vision or arction Lightning. for visualizing data, each choice has it's own benefits and limits. But bottom line is always the same, you need to first get the data and then use one of the built in types to add the data on the list they have (most of the components i saw has this inter

[2019-05-05 18:27] uranio-235 opened #93 "Exception: Could not convert (the whole CSV line) to DateTime."
Readme example does not work

[code]

[2019-05-06 18:30] uranio-235 opened #94 "StooqImporter not work"
[code]

Code simple

[code]

[2019-05-06 18:31] uranio-235 commented on #94
my bad. Stoow symbols should be FB.US

any way, it return an empty dataset

[2019-06-08 09:07] ljason1 opened #95 "CumulativeAnalyzableBase.ComputeByIndexImpl call ComputeCumulativeValue twice for the same index"
The line #43 of CumulativeAnalyzableBase.cs should be **LastCacheIndex = index;** instead of LastCacheIndex = index - 1;
it make ComputeCumulativeValue be called twice for the same index (cause ParabolicStopAndReverse calculate wrong values)

[2019-07-07 22:41] kiranmaya opened #96 "Request to implement"
Can you add Pivot Point  and Awesome indicators.need them for my strategies .

[2019-07-10 21:37] vitaliy-goncharuk opened #97 "Builder is not fully implemented in Trady.Analysis 3.2.0"
So I can't make a strategy testing, because some methods do not exist
var runner = new Builder()
    .Add(fb)
    .Buy(buyRule)
    .Sell(sellRule)
    ***.BuyWithAllAvailableCash()
    ***.FlatExchangeFeeRate(0.001m)
    ***.Premium(1)
    .Build();

Here is what I see in the lib:

namespace Trady.Analysis.Backtest
{
    public class Builder
    {
        public Builder();

        public Builder

[2019-07-13 19:11] michaelgreen2 opened #98 "Request to implement 4 hourly bars"
This is a great library. I can see that the supported periods are PerSecond, PerMinute, Per15Minutes, Per30Minutes, Hourly, BiHourly, Daily, Weekly, Monthly, can a 4 hourly period be added too ?

Thanks

[2019-07-14 15:34] #40 closed

[2019-07-14 15:37] alikalfaoglu opened #99 "Maxx Momentum indicator ( sample pinescript or ideas )"
Any ideas to implement the script? Sample pinescript is enough for me to implement.

[2019-07-14 19:59] sup3rvis0r commented on #97
You can download the repo and add it to your project without Nuget.

[2019-08-08 15:12] kiranmaya opened #100 "General C# Question About list."
with out writing a separate loop ,is there any way ,get values into a list<double> from an indicator Ticks.

[2019-08-12 17:10] MarkFx opened #101 "Cant find Momentum technical indicator"
Hello,
Please, How can I use Momentum technical indicator?
I tried, but still I cant find it.
Can you help me or do you have some more examples?
Many thanks for answer
Mark

[2019-10-09 14:49] codebeaulieu commented on #100
I'd need to see an example of what you are attempting to do.

I haven't looked at this code in a while... but why can't you just do something like:
`.Select(x => x.Ticks).ToList()`?

[2019-11-12 20:48] alikalfaoglu commented on #59
I wrote a bot using binance API + this lib, watching ~125+ assets real time, analysing with major indicators realtime, no need to do that as @lppkarl mentioned. It's only using 30 threads and ~250mb of ram. Just cache the candlestick data on file system or on some doc db to prevent refetch. It's fast enough..

[2019-11-12 20:48] #99 closed

[2019-11-30 16:13] JeremyCrookshank opened #102 "Transforming Data issue"
When transforming data it doesn't always seem to work when using bihourly when scaled up from 15 minutes.

Transformed results includes a lot of 15 minute candles and a mix of bihourly ones

[2020-01-03 22:25] MehdiAnis commented on #82
Test functions utilizes Extension methoids of Ienumerable<IOhlc> like, candles.Cci(20). In my case I would like to see some example of calling CCI function directly -

var cciResults = new CommodityChannelIndexByTuple(Input, 14);

I do not know how to create the "Input" object. An example of creating IEnumerable<decimal High, decimal Low, decimal Close> object would be nice. Thanks.

[2020-01-06 21:34] MehdiAnis opened #103 "Not getting expected CCI values"
I used 200 made up data points to test CCI. My Data
High  Low  Close
  1        1       1
  2        1       1
  3        1       1
  4        1       1
---     ---     ---
 200     1       1

in my excel calculation CCI values comes for each row = 66.66666667
Using candles.Cci(Period); gives me CCI = 123.80952380952380952380952381

I am attaching my excel file that I used for CCI calculation. Not

[2020-01-07 06:02] #103 closed

[2020-01-07 06:07] lppkarl commented on #103
@MehdiAnis the fix is deployed to nuget, please update the package accordingly

[2020-01-07 16:20] MehdiAnis commented on #103
I think I interpreted the CCI Calculation Formula differently, thus my numbers are different,

[2020-01-08 05:44] lppkarl commented on #103
@MehdiAnis Yes, I find that our interpretation are different. My version is getting the deviation using Abs(n-th TP - 14-th TP SMA) while yours is Abs(n-th TP - n-th TP SMA), I believe your version is a more accurate one, so I changed it. Most of the time, I find that there're some variations of formula for technical indicators, and I have to cross check the logic with different formula provide e.

[2020-02-04 12:36] Shuffzord commented on #93
`using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using CsvHelper;
using CsvHelper.Configuration;
using Trady.Core.Infrastructure;
using Trady.Core.Period;

namespace StockApp
{
    public class LocalCsvImporter : IImporter
    {
        public class Candle : IOhlcv, ITick
        {
            public Candle()

[2020-02-17 18:05] redquantum opened #105 "update problem"
Hello dear friend,

CCI cannot calculate correctly after the last update.

Thank you

[2020-02-20 05:57] alikalfaoglu commented on #65
Suitable for value types only. Objects are already passed byref already.

[2020-02-22 11:54] lppkarl commented on #105
@redquantum The CCI calculation may have different definition according to different web site, I get a similar issue #103 on the CCI calculation and has fixed it once and pass the test case. Would like to know if you get a wrong calculation or a exception?

[2020-02-22 12:18] redquantum commented on #105
I am sure it was doing wrong because it was working correctly on the binance exchange before, but now it is working incorrectly. When I started using the old version again, the error improved. In the old version, the Data matches the stock market every second.

I keep using the old version. We would appreciate if you publish the blocks of code changing in a file when the update is made.

Thank you

[2020-02-24 10:58] lppkarl commented on #105
@redquantum I should've updated the code in the commit 8565997a32417a988833e3c4d1ee0b5d0e923bf7 you can double check the block of code there.

[2020-02-24 19:54] alibahal opened #107 "Kst indicator"
Hi. thank for your great efforts on this library in advance.
I want to know if you can implement kst (know Sure Thing indicator ) or not.  I think it's great indicator

[2020-04-11 19:51] alibahal opened #110 "commodity channe lindex incorrect value"
do you compute with this formula or other formula?
https://www.investopedia.com/terms/c/commoditychannelindex.asp
the computed result is not correct.,

[2020-04-14 12:40] pavlexander opened #111 "Minute to hour transformation: failure"
Current version of trady (3.2.9?) does not do the `minute` to `hour` transformation.

First of all - following part of code in `IOhlcvDataExtension` was changed previously:

            var tempCandles = new List<IOhlcv>();
            for (int i = 0; i < orderedCandles.Count; i++)
            {
                var indexTime = orderedCandles[i].DateTime;
                if (indexTime >= periodEndT

[2020-04-14 13:02] pavlexander commented on #111
After some digging through the code I see at least 1 issue that could lead to above problems. In `IOhlcvDataExtension`:

            var periodStartTime = orderedCandles[0].DateTime;
            var periodEndTime = periodInstance.NextTimestamp(periodStartTime);

The date that is a start date is in format: {12/2/2017 8:40:00 PM +00:00}
And the end date is: {12/2/2017 9:00:00 PM +02:00}
According to

[2020-04-14 13:33] pavlexander commented on #111
Alright, a question:
* **Is the a reason why after the transformation - we take the first candle date-time for the resulting candle datetime?** Isn't a candle - a summary of the previous period? So in that sense - candle date-tome is always the latest datetime, not the datetime of the first candle...
In either case - I don't think that earliest candle datetime shall be used. It's either the period

[2020-04-14 13:37] pavlexander commented on #102
@JeremyCrookshank  you might follow this issue instead https://github.com/lppkarl/Trady/issues/111

[2020-04-14 14:55] brandtr opened #112 "Rule bug?"
Hi,

when I try to create a rule like:
var buyRule = Rule.Create(ic => ic.IsBelowBbLow(20,2)).And(c=>c.IsFullStoOversold(14,1,3)).And(c=>c.IsFullStoBullishCross(14,1,3));

I get an error:
System.InvalidCastException: '[A]Full cannot be cast to [B]Full. Type A originates from 'Trady.Analysis, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' in the context 'Default' at location 'D:\System\Desk

[2020-05-09 09:50] JeremyCrookshank commented on #111
Tested all, seems to work well nice job. Will probably need a thorough test but also fixes my issue you tagged above.  Your solution is much nicer than the one I hacked together meanwhile haha

[2020-06-17 12:08] andyb1979 opened #114 "Performance when computing single indexes on RSI with large datasets"
Hey there!

First of all, this is a great library and wanted to thank you for creating it. I'm using Trady in an experimental backtesting engine for cryptocurrencies with charting visualisation by [SciChart](https://www.scichart.com/), which when I'm done I may open-source the backtester / visualisation to show how you can create a trading app with Trady.

Now I make heavy use of the Rsi indicator

[2020-07-04 19:37] andyb1979 commented on #84
I have a chart library (but its commercial) which I've integrated to Trady. See [scichart.com](https://www.scichart.com/wpf-chart-features). Screenshot below. I plan to write a blog post to talk about how I've done this at some point.

![SciChart WPF Technical Indicators with Trady](https://www.scichart.com/Downloads/Clients/SciChart-Trady-Indicators-Stock-Charts2.png)

[2020-07-04 22:07] andyb1979 commented on #114
I added an implementation which is about 3x faster than standard Trady RSI. It can be better if I can incrementally update the points

[code]

I've tested this vs. Trady RSI and it gets results after the stabilisation period (about 100 bars to stabilise when Period=14) similar to the built-in Trady RSI.

[2020-07-05 21:34] andyb1979 commented on #114
Update. I have an implementation of RSI which is about 1,000 times faster than the Trady built-in RSI, but requires that you update/add a single point via the AddOhlcv() method.

This is therefore not immutable and breaks Trady's immutability which also makes Trady thread safe, but I'm willing to take the risk for the extra speed that this offers. It makes some backtests I'm running which rely on

[2020-09-02 13:38] alavna opened #115 "How to correctly call and compute indicators"
Hi. I am getting candles from Binance like this:

[code]
Then I create new Trady Candles :

[code]
Then I use the converted candles to call trady indicator fucntions by in two ways:

[code]

but I am getting null tick from all indicators. Is it something to do with DateTimeOffset? the function for binance time that I use to get the candles is GetServertime() and returns a Datetime with kind of UTC

[2020-09-02 14:50] #115 closed, assigned to nobody

[2020-09-16 04:34] tisawe commented on #115
Were you able to solve the issue?

[2020-10-14 18:53] ssathya commented on #101
[code]
Now momentum: I'm looking only for the last value.
[code]

[2020-11-11 05:02] MehdiAnis commented on #80
@FunDoor
Have you made any progress? I am also interested in calculating Stoch RSI %K %D Like in TradingView). I will appreciate any hint/tips. Thanks.

[2020-12-31 17:04] onionhammer opened #116 "Library incompatible w/ newer versions of CsvHelper"
This is more of an issue with CsvHelper making a breaking change by adding a CultureInfo parameter to their constructors, but I think it'd be good to get this updated. If your app is using this library and CsvHelper latest, this library will break because it cant find a matching constructor without CultureInfo.

Great library btw, I'm so happy I discovered it :)

[2021-01-22 09:49] tenebriox opened #117 "Volume Profile Indicator"
Hello,
I'm new to trady, and I would like to implement a volume profile indicator, and I didn't find anything related with that.
I would need to calculate the volume profile for a specific period (last 24h for example). I
Does anybody ever realized that or would have some guidelines for a good implementation ?
Thanks

[2021-01-30 19:55] OryCore opened #118 "Takes Too Long To Get Data From Importer"
First of all, This is an incredible library that you have made, and thank you for that. I have used YahooFinanceApi which I believe you have written that too. With YahooFinanceAPI, I have no problem getting the data and listing it on a datagridview. It takes only 30 seconds to get almost 2000 candle information and to list it. But with this library, It takes 5 seconds to take only one candle's dat

[2021-02-02 11:58] OryCore commented on #118
Ok I solved it by changing the default year of yahoo importer from 1986 to 2017

[2021-02-02 11:58] #118 closed, assigned to nobody

[2021-02-04 17:13] ridicoulous commented on #117
Hi @tenebriox
According to [tradingview](https://www.tradingview.com/support/solutions/43000502040-volume-profile/), `Essentially, Volume Profile takes the total volume traded at a specific price level during the specified time period and divides the total volume into either buy volume or sell volume and then makes that information easily visible to the trader.`
It is quite easy to perform this on

[2021-02-11 11:58] OryCore opened #120 "Need Help With Custom Importer"
Hi, First of all, it is an incredible library. I really appreciate the work that has done.
I am using [Binance.Net](https://github.com/JKorf/Binance.Net) API To get data from Binance
but I couldn't create a custom Importer to use the indicator functions of the Trady library.
This is what I have done so far:
![Screenshot_2](https://user-images.githubusercontent.com/63416552/107632509-a3350100-6c77-

[2021-02-11 12:43] ridicoulous commented on #120
you have to use [Binance spot api client](https://github.com/JKorf/Binance.Net/blob/a418bf640b82a279588f14bb60b8c8bd2ee0e484/Binance.Net/SubClients/Spot/BinanceClientSpotMarket.cs#L207) instead socket.
`ImportAsync` method implies to get data by request, without subscribing to data producer and waiting pushes from server side

[2021-02-11 12:51] OryCore commented on #120
thank you for your answer. I have fixed that part but I still don't know how am I going to return these data? I mean the last line
![](https://user-images.githubusercontent.com/63416552/107632509-a3350100-6c77-11eb-8994-31bdf0049bca.png)

[2021-02-11 13:19] ridicoulous commented on #120
I didn't understand you. Show me your new code with fixes

[2021-02-11 13:36] OryCore commented on #120
There are not too many changes done to the code that would affect this part. If you look at the line that starts with "await client"
you can see that I am already using the "Spot" subclient. I have no issues getting the data from Binance. I need to take the data indicated as (Time, Open, High, Close, Volume) in the subscribeTotickerUpdatesAsync part, and somehow put those data to the corresponding

[2021-02-11 14:09] ridicoulous commented on #120
Read this answer again and compare it with your code. You use **Socket** client insead **API** client. If follow my link, you can see that I advised to use `GetKlinesAsync` method of api client

You have the issue with binance clients purposes. One of them (API client) takes data on demand, second - (Socket client) subscribes to data streams and pushes each update into the event stream

[2021-02-11 14:18] OryCore commented on #120
Ohh sorry. Now I see what you are trying to tell. I changed my code to this:
![Screenshot_2](https://user-images.githubusercontent.com/63416552/107648155-05e4c780-6c8d-11eb-8f66-2ecd258ed801.png)
But now The return line gives this error
![wwwwwwwwwwwwwwwwwwwwwww](https://user-images.githubusercontent.com/63416552/107648218-139a4d00-6c8d-11eb-8d2a-b055d7b55c7f.png)
And thank you for Helping. I have

[2021-02-11 17:57] OryCore commented on #120
Do you know how to get rid of this error?

![](https://user-images.githubusercontent.com/63416552/107648218-139a4d00-6c8d-11eb-8d2a-b055d7b55c7f.png)

[2021-02-11 18:06] ridicoulous commented on #120
cause `WebCallResult<T>` does not emplements `IEnumerable` interface. Look to the `Data` field of result of request.
I advise you to learn in more detail what you are working with

[2021-02-11 18:15] OryCore commented on #120
Well if I can't get it as IEnumerable how am I going to return the data

Yeah, that would Be Useful but Unfortunately, I don't have time right now.

[2021-02-11 18:22] ridicoulous commented on #120
You shouldn't get `WebCallResult` as `IEnumerable`.  You have to look inside this class and get collection from it (`result.Data`). Also you have to find time to deep into details of programming at whole and your instruments if you want to achieve some profit

[2021-02-11 18:28] OryCore commented on #120
Thank you for your advice and help I think I got everything Here is the final code:
![Screenshot_1](https://user-images.githubusercontent.com/63416552/107681329-f7f46e00-6caf-11eb-8ac5-1520d7f6bf52.png)
Thank you so much again. I have been struggling with these 2 lines of code for a week now.

[2021-02-11 18:28] #120 closed, assigned to nobody

[2021-02-13 17:12] andyb1979 opened #121 "Indicator on Indicator 'TInput TOutput not matched'"
Hi there!

Does Trade support indicators on indicators?

If I try this ->

[code]

Then I get an exception

[code]

Any ideas?

[2021-02-13 21:14] ridicoulous commented on #121
Take  a look [here](https://github.com/karlwancl/Trady/blob/master/Trady.Analysis/Infrastructure/AnalyzableBase.cs#L34) .
If you map `AnalyzableTick<decimal?>` to IOhclv, it should work, I think.
Like `rsi.Compute().Select(c=> new Candle(c.DateTime, c.Tick, c.Tick....)`

[2021-04-13 02:50] SmashPlusUltra opened #122 "TransformToCandles<Daily> Return repeated days"
I've applied the trades.TransformToCandles<Daily>(); to a group of trades to get daily candles but the last day is return 3 times with different values.
They should've been group together

![image](https://user-images.githubusercontent.com/53838441/114489612-d0574e80-9be9-11eb-8569-807bc2f3d294.png)

[2021-04-15 03:33] lropero opened #123 "Trady for crypto - Node.js"
Hey FYI just sharing this implementation of Trady in Node.js:
https://github.com/lropero/trady

[2021-04-19 22:03] onionhammer commented on #116
Bump...

[2021-04-19 22:04] onionhammer commented on #116
I'm thinking maybe I should just fork this and use a separate nuget package?

[2021-04-20 00:11] ridicoulous commented on #116
I do it.

https://www.nuget.org/packages/Trady.Core.Fork/

https://github.com/ridicoulous/Trady

[2021-04-20 17:49] onionhammer commented on #116
@ridicoulous hmm, what's your goal? To tailor this lib for your own purposes or to fix bugs/shortcomings of this lib?

[2021-04-20 18:39] ridicoulous commented on #116
@onionhammer first of all my own purposes and may be a little bit of improvements. For example, I added TEMA indicator

[2021-04-24 16:34] onionhammer commented on #116
@ridicoulous Hmm, to fork the nuget packages I would have to produce like 6 nuget packages, not just 1. Any interest in upgrading CsvHelper in your fork?

[2021-04-24 16:37] ridicoulous commented on #116
No problem to upgrade

[2021-05-27 12:15] gurachan commented on #114
mind converting that to javascript? xD

[2021-07-09 04:26] SmashPlusUltra commented on #122
I've just reprocessed manually to recalculate it, between those repeated values calculate the Ohlcv again. But it's quite common the error.

[2021-08-03 11:52] MohammadSadeghSalimian opened #124 "AccumulationDistributionLine<TInput,TOutput> constructor is protected and cannot be instanciated!"
The class of AccumulationDistributionLine<TInput, TOutput>  has not accessible constructor and all constructors are protected. Please modify it.

[2022-02-20 09:31] OrionRiftStudios opened #125 "Performance issues with 2000 candles & Backtesting"
Hello.
I am testing this library for backtesting.

But I realize the performance of this library is poor. I have a sample data 4hr candles with 1 year of data around 2200 candles
I apply a very simple strategy for testing the Macd Cross Bullish/ Bearish.
the back test it takes around 10 minutes.

I would like to know how I can improve the performance but the code is a little bit complicated to und

[2022-06-20 23:32] amironline opened #126 "Error occured using trade"
I want to use trade, but I got error unfortunately.

`Trade trade = new Trade(DateTime.Now, 10, 100, false);`

error message:

`System.MissingMethodException: 'Method not found: 'Void Trady.Core.Trade..ctor(System.DateTimeOffset, System.Decimal, System.Decimal, Boolean)'.'`

[2022-06-20 23:42] amironline opened #127 "How to import trades"
I have some tick data and I want to convert them to various period candles.
I could not find any method to load using trady import.
So, I want to use a list of trades and convert it to candle using **TransformToCandles** method in **TradeExtensions**.

What is the best solution to my problem?

[2022-08-16 11:59] #100 closed